<div class="modal-container d-flex">
    <div class="modal-wrapper">
        <div class="modal-header d-flex">
            <h4>Add Address</h4>
            <div class="cancel-button d-flex">
                <button (click)="hideModal()" class="feather-x d-flex"></button>
            </div>
        </div>
        <div class="modal-body d-flex">
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

                <div class="form-control d-flex">
                    <label for="CITY">City</label>
                    <input placeholder="CITY" formControlName="CITY" type="text" id="CITY">
                </div>
                <div class="form-control d-flex">
                    <label for="STATE">State</label>
                    <input placeholder="STATE" formControlName="STATE" type="text" id="STATE">
                </div>
                <div class="form-control d-flex">
                    <label for="PINCODE">Pincode</label>
                    <input placeholder="PINCODE"  formControlName="PINCODE" type="text" id="PINCODE">
                </div>
                <div class="form-control d-flex">
                    <label for="LANDMARK">Landmark</label>
                    <input placeholder="LANDMARK" formControlName="LANDMARK" type="text" id="LANDMARK">
                </div>
                <div class="form-control d-flex">
                    <label for="ADDRESSTYPE">Address Type</label>
                    <select formControlName="ADDRESSTYPE" id="ADDRESSTYPE">
                        <option value="1">Home</option>
                        <option value="2">Office</option>
                        <option value="3">Other</option>
                    </select>
                </div>
                <div class="form-control d-flex">
                    <label for="DEFAULTSTATUS">Select Default Address</label>
                    <select formControlName="DEFAULTSTATUS" id="DEFAULTSTATUS">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                     </select>
                </div>
                
                <div class="form-control d-flex">
                    <label for="ADDRESS">Address</label>
                    <input placeholder="ADDRESS" formControlName="ADDRESS" type="text" id="ADDRESS">
                </div>
                <div class="form-control  d-flex">
                    <button [disabled]="!addressForm.valid || isLoading">
                        <span class="loader" *ngIf="isLoading"></span>
                        Add Address</button>
                </div>
             </form>

        </div>
    </div>
</div>


