.no-item-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .5;
    filter: grayscale(1);
    padding: 20px;
    img{
        width: 150px;
        margin-bottom: 20px;
    }
    h4{
        text-align: center;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        span{
            font-weight: 500;
        }
    }
    h1{
        font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
    }
}