<div class="no-item-found">
   <img src="../../../assets/img/salad.png" alt="no item found">
   <h1>Your cart is empty   </h1>
   <h4>“One cannot think well, love well, sleep well, if one has not dined well.” <span>-Virginia Woolf, A Room of One's Own</span></h4>
</div>
