@import "src/variable";
.cart-wrapper{
  padding-top: 100px;
  .container{
    align-items: flex-start;
    .cart-item-detail{
      background: $white;
      width: 68%;
      margin-right: 10px;
      border: 1px dashed #cccc;
      min-height: 308px;
      .no-item-found{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        img{
          width: 120px;
          margin-bottom: 10px;
          opacity: .5;
        }
        h4{
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 900;
          letter-spacing: 1px;
          opacity: .5;
        }
        button{

        }
      }
      .cart-item-grid{

        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;

        .cart-item-name{

          width: 50%;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: capitalize;
          justify-content: flex-start;
          img{
            width: 55px;
            height: 55px;
            margin-right: 6px;
            border-radius: 7px;
          }

        }
        .cart-item-quantity{
          display: flex;
          width: 50%;
          justify-content: flex-end;
          align-items: center;
          ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li{
              display: block;
              margin: 0 20px;
              font-weight: 700;
              letter-spacing: 1px;
              color: $red;
            
            }
            li{
              button.primary-button{
                padding: 9px !important;
                border-radius: 5px !important;
              }
            }
          }
        }
      }
    }
    .cart-billing-summary{
      border: 1px dashed #cccc;
      background: $white;
      width: 30%;
      min-height: 200px;
      .summary-heading{
        padding: 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        h4{
          font-size: 16px;
          letter-spacing: 1px;
          opacity: .6;
        }
      }
      .summary-body{
        .coupon_btn{
          padding: 10px;
          border: 1px dashed #ccc;
          margin-top: 10px;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          letter-spacing: 1px;
          font-weight: 300;
          font-size: 12px;
          span{
            width: 20px;
            height: 20px;
            background: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 9px;
            color: #fff;
          }
          .btn_clear{
            height: 40px;
            border: 1px solid #ed5a6b;
            color: #ed5a6b;
            background: transparent;
            padding: 0 10px;
          }
        }
        padding: 0 20px 0 20px;
        .summary-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          letter-spacing: 1px;
          font-size: 13px;
          margin-bottom: 10px;
          border-bottom: 1px dashed #ccc;
          padding-bottom: 10px;
        }
        #payable{
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 900;
          .su-title{
            color: $black;
          }
          .su-value{
            color: $red;
          }
        }
      }
      .summary-footer{
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        button{

        }
      }
    }
  }

}
 .fundo{
  animation: scales 3s alternate  infinite;
  transform-origin: center;
}
.pao-baixo{
  animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.pao-cima{
  animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.olhos{animation: olhos   2s  alternate  infinite;
  transform-origin: center;
}

.left-sparks{animation: left-sparks   4s  alternate  infinite;
  transform-origin: 150px 156px;
}

.right-sparks{animation: left-sparks   4s  alternate  infinite;
  transform-origin: 310px 150px;
}

.olhos{animation: olhos   2s  alternate  infinite;
  transform-origin: center;
}
@keyframes scales{
  from { transform: scale(0.98)}
  to{ transform: scale(1)}
}

@keyframes rotatepao{
  0% { transform:  rotate(0deg)}
  50% , 60%{ transform:  rotate(-20deg)}
  100%{  transform:  rotate(0deg) }

}

@keyframes olhos{
  0%{
    transform: rotateX(0deg);
  }
  100%{
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks{
  0%{
    opacity: 0;
  }

}


.main{

  min-height: 600px;
  margin: 0 auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p{
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
  }
  button{
    background: $red;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
  }
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s   alternate infinite;
}

@keyframes dash{
  0%, 30%{
    fill: 4B4B62;
    stroke-dashoffset:   0;
  }
  80%,100%{
    fill: transparent;
    stroke-dashoffset:  -200;
  }
}
.address-grid{
  padding: 10px 10px 0 10px;
  select{
    height: 35px;
    border: 1px solid $red;
    background: transparent;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  p{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: .5;
    color: $red;
    margin: 10px 0;
  }
  h4{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 10px;
    button{
      border: 1px solid $red;
      margin-left: 10px;
      padding: 5px 16px;
      color: $red;
      background: transparent;
      font-weight: 400;
    }
  }
  .d-block{
    padding-left: 15px;
    .radio_custom{
      label{
        font-size: 14px;
        font-weight: 500;
        span{
          color: $red;
         text-transform: capitalize;
          font-weight: 900;
        }
      }
    }
  }
}

.bg_white{
  background: #fff;
   border: 1px dashed #cccc;
}
.coupon_form{
  display: flex;
  width: 100%;
  justify-content: space-between;
  input{
    width: 60%;
    border: none;
    padding: 12px;
  }
  button{
    width: 40%;
    height: 40px;
    border: 1px solid $red;
    background: $red;
    color: #fff;
  }
}
.custom_hrs_grid{
  display: flex;
  justify-content: space-between;
  .form-control{
   
  }
}
.applied_offer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px dashed #8bc34a;
  padding: 10px;
  margin-bottom: 10px;
  span{
    width: 25px;
    height: 20px;
    margin-right: 10px;
    background: #4caf50;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bolder;
  }
  .offer_content{
    h5{
      font-weight: 800;
      color: #3e4152;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    p{
      opacity: .6;
      color: #282c3f;
      margin: 0;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}
canvas{
  position: fixed;
  right: 18%;
  background: red;
  bottom: 30%;
}