<app-profile-header></app-profile-header>
 <div class="cart-wrapper">
    <div class="container d_flex" *ngIf="cartData?.length >= 1; else noItemFound">
        <div class="cart-item-detail">
            <ng-container >
                <div class="cart-item-grid d_flex" *ngFor="let item of cartData">
                    <div class="cart-item-name d_flex">
                        <img src="{{item.IMG}}">  {{item.MENUTITLE}}
                    </div>
                    <div class="cart-item-quantity">
                        <ul>
                            <li>{{(item.MENUPRICE  * item.QUANTIY) | currency: 'INR'}}</li>
                            <li>
                                <div class="qty-manage">
                                    <button (click)="inc(item)"><span class="feather-plus"></span></button>
                                    <span>{{item.QUANTIY}}</span>
                                    <button (click)="dec(item)"><span class="feather-minus"></span></button>
                                </div>
                            </li>
                            <li>
                                <button (click)="removeItem(item)" class="primary-button"><span class="feather-trash-2"></span></button>
                            </li>
                        </ul>
                    </div>

                </div>
            </ng-container>
            <div class="address-grid" *ngIf="cartData?.length >= 1">
                <h4>Delivery Address <button routerLink="/dashboard/{{userId}}/create-new-address">Add New</button>    </h4>
                 <div class="d-block" *ngIf="addressDetails?.length >= 1; else showAddressModal">
                    <div class="radio_custom" *ngFor="let address of addressDetails; let i = index">
                        <input type="radio" id="address{{i}}"  name="address" (change)="setAddress(address)" >
                        <label for="address{{i}}">
                            <ng-container [ngSwitch]="address.ADDRESSTYPE">
                                <span *ngSwitchCase="'1'">Home: </span>
                                <span *ngSwitchCase="'2'">Office: </span>
                                <span *ngSwitchCase="'3'">Other: </span>
                            </ng-container>
                            {{address.ADDRESS}}&nbsp;{{address.COUNTRY}}&nbsp;{{address.STATE}}&nbsp;{{address.CITY}}&nbsp;{{address.PINCODE}}</label>
                     </div>
                </div>
                <ng-template #showAddressModal>
                        <p>No Address Found</p>
                 </ng-template>
                
            </div>
            <div class="address-grid" style="padding-bottom: 0.3rem;" *ngIf="operationalHrs?.length >= 1">
                <h4>Delivery Hours</h4>
                <select  id="dl_hrs" (change)="selectDeliveryHrs($event.target.value)">
                    <option value="null" disabled selected>Select Delivery Hours</option>
                    <option value="CUSTOM">Custom Hours</option>
                    <option value="RECOMMENDED">Recommended Hours</option>
                </select>
                <!-- Recommended  Hrs -->
                <div class="d-block" *ngIf="deliveryHrsType === 'RECOMMENDED'">
                    <div class="radio_custom" *ngFor="let hrs of operationalHrs; let i = index">
                        <input type="radio" id="hrs{{i}}"  name="hrs" (change)="setHours(hrs)" >
                        <label for="hrs{{i}}">
                            <ng-container>
                                <span>Day:&nbsp;{{hrs.SELECTED_DATE}}</span>
                            </ng-container>
                          From  {{time24To12(hrs.FROM_TIME)}}&nbsp;To: {{time24To12(hrs.TO_TIME)}}   
                        </label>
                     </div>
                </div>
                <!-- Custom Hrs -->
                <div class="d-block" *ngIf="deliveryHrsType === 'CUSTOM'">
                    <div class="custom_hrs_grid" [formGroup]="customHrs">
                        <div class="form-control">
                            <label for="date">Select Date</label>
                            <input type="date" id="date" formControlName="date" placeholder="Select Date">
                        </div>
                        <div class="form-control">
                           <label for="timeFrom">Select Time From</label>
                           <input type="time" id="timeFrom" formControlName="timeFrom" placeholder="Select Time">
                       </div>
                       <div class="form-control">
                        <label for="timeUntil">Select Time until</label>
                        <input type="time" id="timeUntil" formControlName="timeUntil" placeholder="Select Time">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-billing-summary">
            <div class="summary-body">
                <div class="coupon_btn " (click)="applyCoupon()" *ngIf="!isCouponApplied">
                    <ng-container >
                        <span class="feather-percent"></span> Apply Coupon
                       </ng-container>
                </div>
                 <div class="coupon_btn" style="padding: 0;" *ngIf="isCouponApplied">
                    
                    <div class="coupon_form" >
                        <input type="text" placeholder="Enter Code" [style.width]="isCouponApplied ? '100%': '60%'" [disabled]="isCouponAppliedOnce" [(ngModel)]="couponCode">
                        <button *ngIf="!isCouponAppliedOnce" [disabled]="!couponCode" (click)="onSubmitCoupon()">Apply </button>
                    </div>
                    <button class="btn_clear" *ngIf="couponCode" (click)="clearCoupon()">Clear</button>
                </div>
            </div>
           
            <div class="summary-heading">
                <h4>Billing Summary</h4>
            </div>
            <div class="summary-body">
                <div class="summary-wrapper">
                    <div class="su-title">
                        Item Total
                    </div>
                    <div class="su-value">
                        {{getCartItemPrice(cartData) | currency: 'INR'}}
                    </div>
                </div>
                <div class="summary-wrapper">
                    <div class="su-title">
                        Delivery Partner Fee for 0.55 kms

                    </div>
                    <div class="su-value">
                        {{'120' | currency: 'INR'}}
                    </div>
                </div>
                <div class="summary-wrapper">
                    <div class="su-title">
                        Taxes and Charges

                    </div>
                    <div class="su-value">
                        {{'120' | currency: 'INR'}}
                    </div>
                </div>
                <div class="summary-wrapper" id="payable">
                    <div class="su-title">
                        payable amount
                    </div>
                    <div class="su-value">
                        {{(getCartItemPrice(cartData, calculateMinPrice(appliedOffer?.MIN_PRICE, appliedOffer?.DISCOUNT))) | currency: 'INR'}}
                    </div>
                </div>

            </div>
            <div class="summary-footer">
                <button class="primary-button" [disabled]="customHrs.invalid" (click)="checkOut()">Checkout</button>
            </div>
            <div class="summary-body" *ngIf="appliedOffer">
                <div class="applied_offer">
                    <span class="feather-check"></span> 
                    <div class="offer_content">
                        <h5>Applied Offer</h5>
                        <p> {{appliedOffer?.DISCOUNT}}% off up to {{calculateMinPrice(appliedOffer?.MIN_PRICE, appliedOffer?.DISCOUNT)  | currency: 'INR' }} on minimum order of {{appliedOffer?.MIN_PRICE | currency: 'INR'}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #noItemFound>
   <div class="container bg_white">
    <app-no-item-found></app-no-item-found>
   </div>
</ng-template>
