<div class="food_listings_section">
    
 
    <div class="container">
        <div class="food_listing_header">
            <div class="header_left">
                {{chefListing?.length}} Chefs
            </div>
            <div class="header_right">
                <ul>
                    <li class="active">Relevance</li>
                    <li>Veg</li>
                    <li>Non-veg</li>
                </ul>
            </div>
        </div>
    
      <div class="delivery tab-container d-flex">
        <ng-container  *ngFor="let item of chefListing">
          <ng-container >
            <div class="food_card d-flex" routerLink="/chef/{{item.ID}}" >
          <ng-container>
            <div class="new-tag" ><div class="_1kXWW">Exclusive</div></div>
            <div class="food_card_img" style="height: 200px!IMPORTANT;">
              <img src="{{item.MENU_IMG}}"  onerror="this.src=`https://i1.wp.com/lanecdr.org/wp-content/uploads/2019/08/placeholder.png?w=1200&ssl=1`"  alt="{{item.OUTLET_NAME}}">
               
            </div>
            <div class="food_card_content">
              <h4>{{item.OUTLET_NAME ? item.OUTLET_NAME : '--'}}</h4>
              <ng-container >
                <div class="rating_star">
                   <div class="stars" *ngFor="let stars of [].constructor(convertStringToNumber(item.OVERALLRATINGCOUNT))">
                    <span class="feather-star"></span>
                  </div>
                  <div class="start_detail">
                    {{convertStringToNumber(item.OVERALLRATINGCOUNT)}}
                    <span>({{item.REVIEWCOUNT}})&nbsp;Reviews</span>
                  </div>
                </div>  
              </ng-container>
              
              
              <p>
             <ng-container *ngIf="item.ESTABLISHMENT_TYPE  === '1'">
                Both, Delivery & Take Away
            </ng-container>
            <ng-container *ngIf="item.ESTABLISHMENT_TYPE  === '2'">
                Delivery
            </ng-container>
            <ng-container *ngIf="item.ESTABLISHMENT_TYPE  === '3' || item.ESTABLISHMENT_TYPE  === '0'">
                Take Away
            </ng-container>
                    
              </p>
            </div>
          </ng-container>
        </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!showLoadingCard; else showLoader"></ng-container>
        
      </div>
    
  </div>

 <!-- card Loader -->
<ng-template #showLoader >
  <app-vt-card-loader style="width: 100%"></app-vt-card-loader>
</ng-template>