@import "src/variable";

/*food listing css*/
.tab-links{
  padding: 50px 0 20px 0;
  .d-flex{
    justify-content: flex-start;
    .food-process-list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $gray;
      li{
        margin-right:  20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $black;
        span{
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $yellow;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          filter: grayscale(1);
          img{
            width: 30px;
          }
        }
      }
      li.active-link{
        border-bottom: 3px solid red;
        padding-bottom: 5px;
        span{
          filter:grayscale(0) ;
        }
      }
    }

  }
}
.tab-container{
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  .food_card{
    flex-direction: column !important;
    width: calc(100% - 77%);
    border: 1px solid #ddd;
    margin: 10px;
    // box-shadow: $card-shadow;
    transition: all .4s;
    background: $white;
    &:hover{
      transform: translateY(-10px);
      box-shadow: $card-shadow;
    }
    .food_card_img{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 160px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .food_card_content{
      width: 90%;
      padding: 10px 5px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $black;
      }
      h5{
        color: #44bd32;
        margin: 5px 0;
        letter-spacing: 1px;
      }
      p{
        font-size: $small-font;
        font-weight: 600;
        color: $secondary-black-color;
        letter-spacing: 1px;
        text-transform: capitalize;
        line-height: 22px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        span.veg{
          color: $green;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 15px;
            height: 15px;
            background: $green;
            position: absolute;
            border-radius: 50%;
            left: -20px;
            top: 4px;
          }
        }
        span.non-veg{
          color: $red;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 15px;
            height: 15px;
            background: $red;
            position: absolute;
            border-radius: 50%;
            left: -20px;
            top: 4px;
          }
        }
      }
      .rating_star{
        margin: 10px 0;
        display: flex;
        .stars{
          position: relative;
          overflow: hidden;
          background: $gray;
          padding: 2px;
          border-radius: 4px;
          z-index: 1;
          margin-right: 4px;
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: $red;
          }
          span{
            color: $white;
          }
        }
        .start_detail{
          margin-left: 10px;
          font-weight: 700;
          letter-spacing: 1px;
          span{
            opacity: .6;
          }
        }
      }
    }
  }
}
.food_listing_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  .header_left{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .header_right{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        display: block;
        margin: 0 10px;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
        opacity: .7;
        transition: all .4s;
        &:hover{
          opacity: 1;
          font-weight: bold;
        }
      }
      li.active{
        padding: 5px 20px;
        background: #fff;
        border: 2px solid #ed5a6b;
        border-radius: 5px;
        color: #ed5a6b;
        font-weight: 900;
        opacity: 1;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .food_card_img{
    width: 100% !important;
  }
  .food_card_content{
    padding: 10px !important;
    width: 100% !important;
  }
}