<div class="address-card d-flex">
    <div class="address-wrapper" *ngFor="let item of addressDetails">
        <h4>
            <ng-container [ngSwitch]="item.ADDRESSTYPE">
                <span *ngSwitchCase="'1'">Home</span>
                <span *ngSwitchCase="'2'">Office</span>
                <span *ngSwitchCase="'3'">Other</span>
             </ng-container>
             <span class="default_address" *ngIf="item.DEFAULTSTATUS === 'yes'"><i class="feather-check"></i></span>
        </h4>
        <p>{{item.ADDRESS}}&nbsp;{{item.COUNTRY}}&nbsp;{{item.STATE}}&nbsp;{{item.CITY}}&nbsp;{{item.PINCODE}}</p>
        <h5>Landmark</h5>
        <p>{{item.LANDMARK}}</p>
        <div class="address_button_group d-flex">
            <a href="javascript:void(0)" (click)="editAddress(item)">Edit</a>
            <a href= "javascript:void(0)" (click)="deleteAddress(item)"> Delete</a>
        </div>
    </div>
    <div class="address-wrapper">
       <div class="add-new-address" (click)="addAddress()">
           <span><i class="feather-plus"></i></span>
           <h4>Add Address</h4>
       </div>
    </div>
</div>
<app-address-modal *ngIf="!isAddressCreated"   (isAddressCreated)="AddressCreated($event)" ></app-address-modal>
