@import "src/styles";
.address-card{
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .address-wrapper{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 7px;
    min-height: 230px;
    h4{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .add-new-address{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 200px;
      cursor: pointer;
      flex-wrap: wrap;
      span{
        width: 50px;
        height: 50px;
        background: $secondary-gray-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        border-radius: 50%;
        border: 2px dashed $red;
        margin-bottom: 20px;
        color: $red;
      }
      h4{
        color: $red;
        opacity: 1;
        display: flex
        
      }
    }
    h4{
      font-weight: 700;
      letter-spacing: 1px;
      opacity: 1;
      margin-bottom: 0;
      color: $red;
    }
    h5{
      font-weight: 800;
      letter-spacing: 1px;
      opacity: .7;
      margin-bottom: 0;
      color: $red;
    }
    p{
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      margin: 10px 0;
      min-height: auto;
    }
    .address_button_group{
      a{
        width: auto;
        display: block;
        padding: 8px 30px;
        margin-right: 10px;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 12px;
        border: 2px solid $red;
      }
      a:nth-child(1){
        background: $red;
        color: $white;
      }
      a:nth-child(2){
        background: $white;
        color: $red;
      }
    }
  }
}
.default_address{
  margin-left: 5px;
  width: 17px;
  height: 17px;
  background: #0be881;
  color: #000;
  font-weight: 800;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  border: 1px solid #0be881;
}