<div class="partner-heading">
  <div class="container ">
    <div class="custom_align_center d-flex">
      <div class="logo">
        <h4 *ngIf="!isUserLogin; else showLoginMenu" routerLink="/">Oyeis Business</h4>
        <ng-template #showLoginMenu>
          <h4  routerLink="/chef-dashboard/{{userID}}">Oyeis Business</h4>
        </ng-template>
      </div>
      <div class="partner-links">
        <ul class="d-flex">
          <li>Contact Us</li>
           <ng-container *ngIf="isUserLogin">
            <li routerLink="/chef-dashboard/{{userID}}">Dashboard</li>
             <li class="profile_detail d_flex" >
               <span  routerLink="/profile/{{userID}}"><img src="" alt=""> </span>
               <h4  routerLink="/profile/{{userID}}">{{loggedInUserDetail?.FIRST_NAME}}</h4>
               <div class="profile_drop_down">
                 <ul>
                   <li routerLink="/profile/{{userID}}">Profile</li>
                   <li routerLink="/chef-dashboard/{{userID}}">Dashboard</li>
                   <li routerLink="/menu/{{userID}}">Menus</li>
                 </ul>
               </div>
             </li>
            <li class="sign-up" (click)="logoutUser()">Logout</li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>


<ngx-spinner  bdColor = "rgba(49,142,208,0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > we are processing.... </p></ngx-spinner>



