@import "src/variable";
.partner-heading{
  position: fixed;
  background: $white;
  width: 100%;
  height: auto;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #ccc ;
  padding: 10px 0;
  .logo{
    width: 20%;
    h4{
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
      color: $red;
      cursor: pointer;
    }
  }
  .partner-links{
    width: 80%;
    ul{
      justify-content: flex-end;
      li{
        display: block;
        margin: 0 10px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $black;
        cursor: pointer;
        position: relative;
      }
      .profile_detail{
        background: $secondary-gray-color;
         padding: 4px 12px;
        border-radius: 20px;
        cursor: pointer;
        border: 1px solid $gray;
        &:hover {
          .profile_drop_down {
            visibility: visible;
            opacity: 1;
          }
        }
        span{
          width: 25px;
          height: 25px;
          background: url('../../../assets/img/avtar.svg') $colorRight;
          border-radius: 50%;
          margin-right: 4px;
        }
        h4{
          font-size: 12px;
        }
        .profile_drop_down{
          opacity: 0;
          visibility: hidden;
          padding-top: 5px;
          top: 100%;
          position: absolute;
          ul{
            width: 150px;
            background: #fff;
            padding: 10px 0 0 0;
            margin-top: 10px;
            border-radius: 7px;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            li{
              margin: 5px 0;
              font-size: 13px;
              font-weight: 400;
              padding: 0 10px;
              border-bottom: 1px solid #ccc;
              height: 25px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            li:nth-last-child(1){
              margin-bottom: 0 !important;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
