@import "src/variable";

.modal-container {
  .modal-wrapper{
    min-height: auto;
  #count-down{
    display: flex;
    justify-content: center;
    break-after: column;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 13px 0;
    opacity: .6;
  }
    .otp-footer{
      font-size: 15px;
      font-weight: bold;
      padding: 10px 0;
      p{
        color: $black;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 400;
        button{
          color: $red;
          cursor: pointer;
          background: transparent;
          border: none;
          font-weight: 800;
          font-size: 15px;
          margin-left: 7px;
        }
      }
    }
  }
}
