<div class="modal-container d-flex">
    <div class="modal-wrapper">
        <div class="modal-header d-flex">
            <h4>Enter OTP</h4>
            <div class="cancel-button d-flex">
                <button (click)="hideModal('closeModal')" class="feather-x d-flex"></button>
            </div>
        </div>
        <div class="modal-body d-flex">
            <form [formGroup]="otpForm" >
                <div class="form-control d-flex">
                    <label for="otp" >OTP sent successfully.</label>
                    <input placeholder="Enter OTP"  (change)="verifyOTP($event.target.value)"  formControlName="OTP" type="text" id="otp">
                </div>
                <div id="count-down" *ngIf="countDown">
                     Resend OTP in&nbsp;<span> {{'00:'+countDown}}</span>
                </div>
               <div class="otp-footer d_flex">
                   <p>Didn't Receive OTP? <button (click)="resendOTP()" [disabled]="countDown !== 1">Resend Now</button></p>
               </div>
            </form>
        </div>
    </div>
</div>
