<div class="modal-container d-flex">
  <div class="modal-wrapper">
    <div class="modal-header d-flex">
      <h4>Log in</h4>
      <div class="cancel-button d-flex">
        <button (click)="hideModal('closeModal')" class="feather-x d-flex"></button>
      </div>
    </div>
    <div class="modal-body d-flex">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-control d-flex">
          <label for="email">Email</label>
          <input placeholder="Enter Email" formControlName="MOBILE_EMAIL" type="text" id="email">
        </div>

        <div class="form-control  d-flex">
          <button [disabled]="!loginForm.valid || isLoading"  >
            <span class="loader" *ngIf="isLoading"></span>
            Log in</button>
        </div>
      </form>
      <!--<div class="form-control input-para">
        <p>New to oyesis's? <a (click)="hideModal('showSignUp')">Create account</a> </p>
      </div>-->
    </div>
  </div>
</div>

<app-otp-validation *ngIf="userData" (isModalHide)="hideModal($event)" [userData]="userData"></app-otp-validation>

