@import "src/variable";
.app-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  // background: #fef3f3;
  // position: sticky;
  // top: 0;
  // z-index: 22;
  .hero-video{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    video{
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .hero-search{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 15px 20px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    z-index: 99;
    .hero-header{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 0px;
      .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        h2{
          color: $red;
          text-transform: capitalize;
          font-weight: 900;
          font-size: 30px;
          cursor: pointer;
        }
      }
      .login-links{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 80%;
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          li{
            display: block;
            margin: 0 20px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-size: $medium-font;
            cursor: pointer;
          }


        }
      }
    }
    .hero-body{
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      h4{
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin: 10px 0;
        color: $black;
      }
      p{
        font-size: $medium-font;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin: 0;
        color: $secondary-black-color;

      }
      .search-wrapper{
        span.mapMaker{
          position: absolute;
          left: 10px;
          top: 17px;
          font-size: 22px;
          color: $red;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 20px 0;
        border: 2px solid $red;
        background: $white;
        position: relative;
        .city-list{
          position: absolute;
          top: 60px;
          left: 0;
          background: $white;
          width: 97%;
          min-height: 25px;
          max-height: 200px;
          height: auto;
          padding: 10px;
          z-index: 11;
          box-shadow: $card-shadow;
          overflow-y: scroll;
          ul{
            margin: 0;
            padding: 0;
            li{
              font-size: 12px;
              letter-spacing: 1px;
              font-weight: 400;
              border-bottom: 1px solid $gray;
              padding: 10px 0;
              margin: 5px 0;
              cursor: pointer;
              transition: all .4s;
              &:hover{
                background: $secondary-gray-color;
              }
            }
          }
        }
        input{
          width: 80%;
          height: 45px;
          padding: 3px 6px;
          font-size: $medium-font;
          font-weight: 500;
          border: none;
          letter-spacing: 1px;
          padding-left: 40px;
        }
        .locate_me{
          background: transparent;
          height: 55px;
          border: none;
          padding: 10px;
          font-weight: 400;
          width: 20%;
          color: $black;
          font-size: $small-font;
          letter-spacing: 1px;

        }
        .find_food{
          width: 25%;
          background: $red;
          height: 55px;
          border: none;
          padding: 10px;
          color: $white;
          font-size: $medium-font;
          font-weight: 800;
          letter-spacing: 1px;
        }
      }
      .location-list{
        width: 80%;
        margin: 10px 0;
        ul{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          li{
            display: block;
            margin: 0 5px;
            cursor: pointer;
            color: $secondary-black-color;
            font-size: $small-font;
            letter-spacing: 1px;
            padding: 0 3px;
            border-right: 1px solid $gray;
          }
          .more{
            color: $red;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.cart{
  display: flex !important;
  justify-content: center;
  align-items: center;
  span{
    margin-right: 10px;
    clip-path: polygon(6% 0, 91% 0, 100% 100%, 0% 100%);
    display: flex;
    width: 23px;
    height: 25px;
    background: $red;
    justify-content: center;
    align-items: center;  }
}
.cart-wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  z-index: 33;
  .cart-header{
    justify-content: space-between;
    .item-quantity{
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
      display: flex;
      span{
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        background: $red;
        margin-right: 10px;
        border-radius: 5px;
        color: $white;
        font-size: 25px;
        cursor: pointer;
      }
    }
    .checkout{
      ul{
        li{
          display: block;
          margin: 0 20px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: capitalize;
          span{
            color: $red;
            font-size: 20px;
            font-weight: 900;
          }
        }
      }
    }
  }
}


.container-fluid{
  width: 100%;
  padding-left: calc(50% - 715px);
  padding-right: calc(50% - 715px);
}
#searchModal{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  
  .search_wrapper{
    background: #fff;
    padding: 0px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    .search_input{
    display: flex;
      justify-content:center;
      align-items: center;
      width: 85%;
      padding: 10px;
      span{
        font-size: 20px;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
        }
      input{
        position: relative;
        border: none;
        width: 100%;
        height: 40px;
        padding: 5px;
        font-weight: 600;
      }
      button{
        background: transparent;
        border: none;
        font-size: 13px;
        color:$red;
        font-weight: 500;
      }
    }
    .search_exit{
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      font-size: 15px;
      font-weight: 300;
      button{
        border: none;
        font-size: 22px;
        margin-bottom: 1px;
        opacity: .8;
        margin-bottom: 5px;
      }

    }
  }
  .search_result{
    width: 50%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 6px 6px #d4d5d9;
    background: #fff;
    &::-webkit-scrollbar-track
      {
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #ccc;    
      }

     &::-webkit-scrollbar
      {
        width: 8px;
        background-color: #F5F5F5;
      }

    &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
      }
    ul{
      li{
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: #0000008a;
        padding: 10px 20px;
        margin: 2px 0;
        transition: all 0.4s;
        &:hover{
          background: #f8f8f8;
        }
        img{
          width: 40px;
          border: 1px solid #ccc;
          margin-right: 10px;
        }
      }
    }
  }
}
.searchResultFor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  span{
    font-weight: 600;
    margin-left: 7px;
    font-size: 13px;
  }
}
