<div class="app-hero">
 
  <div class="hero-search">
    <div class="container">
      <div class="hero-header">
        <div class="logo">
          <h2 routerLink="/">oyeis</h2>
        </div>
        <div class="login-links">
          <ul>
            <li (click)="openSearchModal()"> <span class="feather-search" ></span> <span  class="" >&nbsp;Search</span></li>
            <li  class="mb-hidden"   *ngIf="isChefLogin" routerLink="/chef-dashboard/{{userID}}">Work With Us</li>
            <li class="mb-hidden"  *ngIf="!isChefLogin" routerLink="/work-with-us" >Work With Us</li>
            <ng-container *ngIf="isUserLogin; else showLogin">
              <li class="d_flex cart-menu" routerLink="/cart"><img src="assets/img/basket.png" alt="cart"><span>{{cartData?.length ? cartData?.length : 0 }}</span> <b  class="mb-hidden" >&nbsp;Cart</b> </li>
            </ng-container>
            <ng-template #showLogin>
              <li class="d_flex cart-menu"  (click)="isLoginModalVisible = true"><img src="assets/img/basket.png" alt="cart"><span>{{cartData?.length ? cartData?.length : 0 }}</span> <b  class="mb-hidden" >&nbsp;Cart</b> </li>
            </ng-template>
             <!-- <li>Offers</li>-->
            <ng-container *ngIf="isUserLogin; else showLogout">
            <li routerLink="/dashboard/{{userID}}">
              <div class="user-profile d-flex">
                <div class="user-profile-img">
                  <img onerror="this.src='assets/img/avtar.svg'" style="border-radius: 50%; " src= {{loggedInUserDetail?.PROFILE_IMG}} alt="user profile">
              </div>
              <div class="user-name">
                  {{loggedInUserDetail?.FIRST_NAME}}
              </div>
              </div>
              
            </li>
            <li  class="mb-hidden"  class="sign-up" (click)="logOutUser()">Logout</li>
            </ng-container>
            <ng-template #showLogout>
            <li (click)="isLoginModalVisible = true">Login</li>
            <li class="sign-up" (click)="isSignUpModalVisible = true">Sign up</li>
            </ng-template>
  
          </ul>
        </div>
      </div>
    </div>
  
  </div>
</div>


<ng-template #noDataFound>
  <li>
    no data found
  </li>
</ng-template>

<app-sign-up *ngIf="isSignUpModalVisible"  (isModalHide)="hideModal($event)"></app-sign-up>
<app-login *ngIf="isLoginModalVisible"  [apiEndpoint] = "routeUrl" (isModalHide)="hideModal($event)"></app-login>

<!-- Search Modal -->
<div id="searchModal" *ngIf="isSearchModalOpen">
  <div class="search_wrapper">
    <div class="search_input">
      <span class="feather-search"></span>
      <input type="text" [(ngModel)]="searchText" (input)="searchChef(searchText)" placeholder="Enter Chef Name">
      <button (click)="searchText = ''">Clear</button>
    </div>
    <div class="search_exit" (click)="isSearchModalOpen = false; showSearchResult = false">
      <button class="feather-x"></button>
      <!-- Exit -->
    </div>
  </div>
  <div class="search_result" *ngIf="showSearchResult">
    <ul>
      <li *ngFor="let item of chefListing | filter: searchText" (click)="getMenuByChef(item.ID)">
        <img src="{{item.PROFILE_IMG}}" alt=""
          onerror="this.src=`https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_80,h_80,c_fill/Icons-Autosuggest/AS_Dish_3x`">
        {{item.OUTLET_NAME ? item.OUTLET_NAME: '--'}}
      </li>
    </ul>
  </div>
</div>