@import "src/variable";

/*food listing css*/
.tab-links{
  padding: 50px 0 20px 0;
  .d-flex{
    justify-content: flex-start;
    .food-process-list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $gray;
      li{
        margin-right:  20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $black;
        span{
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $yellow;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          filter: grayscale(1);
          img{
            width: 30px;
          }
        }
      }
      li.active-link{
        border-bottom: 3px solid red;
        padding-bottom: 5px;
        span{
          filter:grayscale(0) ;
        }
      }
    }

  }
}
.tab-container{
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  .food_card{
    flex-direction: column !important;
    width: calc(100% - 70%);
    border: 1px solid #ddd;
    margin: 10px;
   // box-shadow: $card-shadow;
    transition: all .4s;
    background: $white;
    position: relative;
    .favourite{
      background-color: #fa4a5b;
      width: 30px;
      height: 25px;
      color: #fff;
      vertical-align: middle;
      right: -8px;
      z-index: 11;
      top: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 15px;
      }
      &::after{
        content: '';
      }
      span{
        content: "";
        position: absolute;
        bottom: -9px;
        width: 0;
        height: 0;
        right: 0;
        border-right: 9px solid transparent;
        border-top: 9px solid #d22b3b;
      }
    }

    &:hover{
      transform: translateY(-10px);
    }
    .food_card_img{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 160px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .food_card_content{
      width: 100%;
      padding: 10px 5px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $black;
      }
      h5{
        color: #44bd32;
        margin: 5px 0;
        letter-spacing: 1px;
      }
      p{
        font-size: $small-font;
        font-weight: 600;
        color: $secondary-black-color;
        letter-spacing: 1px;
        text-transform: capitalize;
        line-height: 22px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        span.veg{
          color: $green;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 10px;
            height: 11px;
            background: $green;
            position: absolute;
            border-radius: 50%;
            left: -13px;
            top: 4px;
          }
        }
        span.non-veg{
          color: $red;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 10px;
            height: 11px;
            background: $red;
            position: absolute;
            border-radius: 50%;
            left: -13px;
            top: 4px;
          }
        }
      }
      .rating_star{
        margin: 3px 0;
        display: flex;
        width: 100%;
        .stars{
          position: relative;
          overflow: hidden;
          background: $gray;
          padding: 2px;
          border-radius: 4px;
          z-index: 1;
          margin-right: 4px;
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: $red;
          }
          span{
            color: $white;
          }
        }
        .start_detail{
          margin-left: 10px;
          font-weight: 700;
          letter-spacing: 1px;
          span{
            opacity: .6;
          }
        }
      }
    }
  }
}
/*filters listings css*/
.filters_listings_wrapper {
  .d-flex {
    .filters_listings {
      width: 100%;
      display: flex;
      justify-content: end;
      li {
        display: block;
        margin: 10px;
        border: 1px solid $gray;
        padding: 5px 20px;
        border-radius: 8px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        cursor: pointer;
        background: $white;
        span {
          margin-right: 5px;
        }
      }
    }
  }
}
