<div class="delivery tab-container d-flex">
<div class="food_card d-flex" *ngFor="let item of deliveryFoodList"routerLink='/chef/{{item.CHEF_ID}}'>
    <div class="favourite">
        <img src="assets/img/heart.png" alt="hear">
        <span></span>
    </div>
    <div class="food_card_img">
        <img src="{{item.MENU_IMAGE}}"  alt="{{item.MENU_NAME}}">
        <ul>
            <li (click)="removeItemFromFavourite(item)"><span class="feather-trash-2"></span></li>
        </ul>
    </div>
    <div class="food_card_content">
        <h4>{{item.MENU_NAME | slice:0: 20}}..</h4>
        <h5>{{item.MENU_PRICE | currency: 'INR'}}</h5>
        <div class="rating_star">
            <p>{{item.CUSINE_NAME}}  <span [ngClass]="{'non-veg': item.FOODTYPE_NAME === 'Non-Veg', 'veg': item.FOODTYPE_NAME === 'Veg'}">{{item.FOODTYPE_NAME}}</span></p>
        </div>
    </div>
</div>
<ng-container *ngIf="!showLoadingCard; else showLoader"></ng-container>
</div>
 <!-- card Loader -->
 <ng-template #showLoader >
    <app-vt-card-loader style="width: 100%"></app-vt-card-loader>
  </ng-template>