@import "src/variable";

/*support wrapper css*/
.support_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  .support_card{
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: $white;
    height: 250px;
    box-shadow: $card-shadow;
    img{
      width: 65px;
      margin-bottom: 20px;
    }
    h4{
      color: $black;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    p{
      color: $secondary-black-color;
      font-size: $medium-font;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
}


/*offer section*/
.offer_sec{
  padding: 50px 0;
  .offer_grid{
    width: 23%;
    margin: 10px;
    cursor: pointer;
    img{
      width: 100%;
      border-radius: 5px;
      transition: all .3s;
    }
    &:hover{
      img{
        transform: translateY(-10px);
      }
    }
  }
}
.food_listings_section{
  background: $secondary-gray-color;
  padding: 0 0 50px 0;
}
.feedback{
  h4{
    display: inline-block;
    background: transparent;
    color: #f44336;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 0;
    font-size: 25px;
  }
  h2{
    font-size:2.8rem;
    line-height: 3.4rem 
  }
  .client_detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .client_content{
      padding: 0 20px;
      margin: 20px 0;
      h4{
        padding: 0;
        font-weight: 900;
        letter-spacing: 1px;
        color: #000;
        font-size: 17px;
        margin-top: 10px;
      }
      p{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: initial;
        margin: 5px 0;
      }
      .star_rating{
        span{
          margin-right:5px;
        }
      }
    }
  }
}
.checked {
  color: orange;
}
.home_about {
  background: #fff;
  border-radius: 20px;
}
.mb-3{
  margin-bottom: 3rem;
}
#about{
  p{
    display: inline-block;
    color: red !important;
    font-weight: 900;
    letter-spacing: 1px;
    opacity: 1 !important;
  }
  h2{
    font-size: 2rem ;
    line-height: 3rem;
  }
  a{
    display: flex;
    width: 170px;
    height: 49px;
    margin: 20px 0;
    border-radius: 40px;
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 900;
  }
}