<app-header></app-header>
<div class="container pd_top">
  <div class="common_wrapper d-flex">
    <div class="wrapper_left">
      <h4>Bringing Together Through Food</h4>
      <h2>Taste homemade <span>FOOD</span> just with one click.</h2>
      <p>We make life easier by giving you what you want – fresh food cooked and served with the touch of a button.
      </p>
      <button>Get Started</button>
    </div>
    <div class="wrapper_right">
      <img src="https://themes.muffingroup.com/be/bistro4/wp-content/uploads/2020/04/bistro4-about-pic2.jpg" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="home_heading">
     <h4>What Do We Do?</h4>
    <h3>We Delight Your Taste Buds.</h3>
  </div>
  <div class="serve_sec d-flex">
      <div class="service_wrapper">
        <img src="../../../assets/img/undraw_tasting_de22.svg" alt="">
        <h5>Home Made Foods for Everyone</h5>
        <p>Making homemade food accessible to everyone</p>
      </div>
      <div class="service_wrapper">
        <img src="../../../assets/img/undraw_On_the_way_re_swjt.svg" alt="" style="width: 60%;">
        <h5>At Your Time, Anytime</h5>
        <p>Pick your time and place to have your food</p>
      </div>
      <div class="service_wrapper">
        <img src="../../../assets/img/undraw_cookie_love_ulvn.svg" alt="" style="width: 40%;">
        <h5>Guarantee of Freshness & Taste</h5>
        <p>Order something fresh, and fresh eats will arrive</p>
      </div>
  </div>
</div>
<div class="container">
  <div class="common_wrapper d-flex">
    <div class="wrapper_right">
      <img src="https://templates.hibootstrap.com/fafo/default/assets/images/header-3-carousel-2.png" alt="">
    </div>
    <div class="wrapper_left">
        <div class="feedback">
          <h4>What They Say</h4>
          <h2>What Our Customers Say <span>About Us</span> </h2> 
          <p>
              "   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo ratione hic deleniti velit tempore laboriosam placeat, non laborum est beatae earum quia, odio tenetur dolorem fugit voluptas consectetur aliquid."
          </p>
          <div class="client_detail">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?crop=faces&fit=crop&h=200&w=200&auto=compress&cs=tinysrgb" alt="">
            <div class="client_content">
              <h4>John Doe</h4>
              <p>Food Enthusiastic</p>
              <div class="star_rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
   
  </div>
</div>
<div id="order">
<!-- <app-food-listings></app-food-listings> -->
<app-chef-listing></app-chef-listing>

</div>
<div class="container home_about mb-3" >
  <div class="common_wrapper d-flex">
    <div class="wrapper_left" id="about">
      <p>#Stay Healthy #Stay Safe</p>
      <h2>Oyeis food is guaranteed fresh every time you order.</h2> 
      <a href="#order">Order Now</a>
    </div>
    <div class="wrapper_right">
      <img src="../../../assets/img/delivery.jpg" alt="">
    </div>
  
   
  </div>
</div>
<app-footer></app-footer>
