<div class="profile d-flex" [formGroup]="profileForm">
    <div class="form-control" style="width: 100%;">
        <div class="img-upload">
          <label class="d_flex"  (change)="onUploadImg(imageInput, 'customer_profile')" *ngIf="isFileUploading">
            <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
          </label>
          <ng-container *ngIf="!isFileUploading">
            <div class="img-preview">
              <img src="{{userProfile}}" alt="Profile">
              <button (click)="clearPreview()" class="feather-x"></button>
            </div>
          </ng-container>
        </div>

      </div>
    <div class="form-control">
        <label for="FIRST_NAME">First Name</label>
        <input type="text" placeholder="Enter First Name" id="FIRST_NAME" formControlName="FIRST_NAME">
    </div>
    <div class="form-control">
        <label for="LAST_NAME">Last Name</label>
        <input type="text" placeholder="Enter Last Name" id="LAST_NAME" formControlName="LAST_NAME">
    </div>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" disabled placeholder="Enter Email" id="email" formControlName="EMAIL">
    </div>
    <div class="form-control">
        <label for="MOBILE">Enter Phone No.</label>
        <input  type="tel" disabled mask="(0000) - 000 - 0000" placeholder="Enter Phone No." id="MOBILE" formControlName="MOBILE">
    </div>

    <div class="submit_button">
        <button class="primary-button" [disabled]="profileForm.invalid" (click)="onSubmit()">Update Profile</button>
    </div>
</div>
