@import "src/variable";
.profile{
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .form-control{
    width: 50%;
  }
}
.img-upload, .img-preview{
  width: 100px;
  height: 100px;
  label{
    height: 100px;
    text-align: center;
    &::after{
      content: "Upload Image";
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
    }
  }
}