<div class="modal-container d-flex">
  <div class="modal-wrapper">
    <div class="modal-header d-flex">
      <h4>Sign Up</h4>
      <div class="cancel-button d-flex">
        <button (click)="hideModal('closeModal')" class="feather-x d-flex"></button>
      </div>
    </div>
    <div class="modal-body d-flex">
      <form [formGroup]="signUpForm">
        <div class="form-control d-flex">
          <label for="FIRST_NAME">First Name</label>
          <input placeholder="Enter Name" formControlName="FIRST_NAME" type="text" id="FIRST_NAME">
        </div>
        <div class="form-control d-flex">
          <label for="LAST_NAME">Last Name</label>
          <input placeholder="Enter Name" formControlName="LAST_NAME" type="text" id="LAST_NAME">
        </div>
        <div class="form-control d-flex">
          <label for="EMAIL">Email</label>
          <input placeholder="Enter Email" formControlName="EMAIL" type="email" id="EMAIL">
        </div>
        <div class="form-control d-flex">
          <label for="MOBILE">MOBILE</label>
          <input placeholder="Enter MOBILE " mask="(000)-000-0000" formControlName="MOBILE" type="text" id="MOBILE">
        </div>
        <div class="form-control d-flex">
          <div class="checkbox-control">
            <label class="checkbox-container">I agree to Oyeis's <a >Terms of Service, Privacy Policy</a> and <a>Content Policies</a>
              <input type="checkbox" (click)="checkTermsCondition($event)"  formControlName="termsCondition">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="form-control  d-flex">
          <button [disabled]="!signUpForm.valid || isButtonDisable" (click)="onSubmit()">Create account</button>
        </div>
      </form>
      <div class="form-control input-para">
        <p>Already have an account? <a (click)="hideModal('showLoginForm')">Log in</a> </p>
      </div>
    </div>
  </div>
</div>
<app-otp-validation *ngIf="userData" (isModalHide)="hideModal($event)" [userData]="userData"></app-otp-validation>
