<app-partner-header></app-partner-header>
    <div class="container mt-5">
        <div class="listings">
            <div class=" card">
                <div class="card-header d-flex two-grid-header" >
                    <div class="card-header-content">
                        <h4>Pending Orders</h4>
                    </div>
                </div>
                

                <div class="card-body ">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="listing row-border hover">
                        <thead class="bg_red">
                            <tr>
                                <th>S No.</th>
                                <th nowrap>Order By</th>
                                 <th nowrap>Address</th>
                                <th nowrap>Zip Code</th>
                                <th nowrap>Phone No.</th>
                                <th nowrap>Price</th>
                                <th nowrap>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pendingOrder; let i = index">
                                <td nowrap>{{i + 1}}</td>
                                <td nowrap>{{'user name' | titlecase}}</td>
            
                                <td nowrap>{{item.ADDRESS}}, {{item.CITY}}, {{item.STATE}}</td>
                                <td nowrap>{{item.PINCODE}}</td>
                                <td nowrap><a href="tel:" class="global-link" style="color: #ed5a6b !important">9722832912</a></td>
                                <td nowrap>{{item.PAYABLE_AMOUNT | currency: 'INR'}}</td>
                                <td nowrap>
                                   <button class="link-view" (click)="openOrderModal(item.ORDER_PRODUCT, item.ID)"><span class="feather-eye"></span></button>
                                </td>
                            </tr>
                        </tbody>
    
                    </table>
    
                </div>
            </div>
        </div>
    </div>

<!-- Order Modal -->
<div class="modal-container d-flex" *ngIf="isOrderModalOpen">
    <div class="modal-wrapper" style="width: 55%">
        <div class="modal-header d-flex">
            <h4>Order Details</h4>
            <div class="action_on_order">
                <button >Completed</button>
                <button >Reject</button>
            </div>
            <div class="cancel-button d-flex">
                <button class="feather-x" (click)="isOrderModalOpen = false;"></button>
            </div>
            
        </div>
        <div class="modal-body">
            <div class="order-listings"  *ngFor="let order of ordersDetailArray">
                <div class="past-order-wrapper">
                    <div class="order-top d-flex">
                        <div class="order-img">
                            <img alt="" src="{{order.MENU_IMG}}">
                        </div>
                        <div class="order-detail d-flex">
                            <div class="order-detail-left">
                                <div class="_3h4gz">{{order.MENU_TITLE}}</div>
                                <div class="_2haEe">{{order.CUISINE_NAME}}</div>
                                <div class="_2uT6l">ORDER #<strong>( 'from backend')</strong> </div>
                             </div>
                            <div class="order-detail-right">
                                <span class="d-flex">Delivery  <strong>( 'from backend')</strong>&nbsp; <span class="feather-clock pending_order"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="order-bottom">
                        <div class="nRCg_">{{order.MENU_TITLE}} x {{order.QUANTITY}}</div>
                        <div class="nRCg_">
                             Price: {{calculatePrice(order.MENU_PRICE, order.QUANTITY) | currency: 'INR'}}
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>