<app-partner-header></app-partner-header>
<div class="menu_wrapper"  [formGroup]="menuForm">
    <div class="container d_flex">
        <div class="col-md-9">
            <div class="menu_form card">
                <div class="card-header">
                    <h4>Menu Details</h4>
                    <p>Enter Your Menu Basic Details</p>
                </div>
                <div class="card-body menu-form-body d_flex modal-body" style="justify-content: flex-start">
                    <div class="form-control">
                        <label class="required" for="menuTitle">Menu Name</label>
                        <input placeholder="Enter Menu Title" id="menuTitle" type="text" formControlName="MENUTITLE">
                    </div>
                    <div class="form-control">
                        <label class="required" for="menuPrice">Menu Price</label>
                        <input placeholder="Enter Menu Price" id="MENUPRICE" min="0" type="number" formControlName="MENUPRICE">
                    </div>
                    <div class="form-control">
                        <label class="required" for="menuType">Select Food Type</label>
                        <ng-select
                                id="menuType"
                                bindLabel="NAME"
                                placeholder="Select item"
                                appendTo="body"
                                formControlName="MENUTYPE"
                                [(ngModel)]="foodTypeSelected">
                            <ng-option [value]="item.ID"  *ngFor="let item of foodTypeData">
                                {{item.NAME}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="form-control">
                        <label class="required" for="menuType">Select Cuisines Type</label>
                        <ng-select
                                id="cuisinesType"
                                bindLabel="NAME"
                                placeholder="Select item"
                                appendTo="body"
                                formControlName="CUISINESTYPE"
                                [(ngModel)]="cuisinesTypeSelected">
                            <ng-option [value]="item.ID"  *ngFor="let item of cuisinesData">
                                {{item.NAME}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="form-control">
                        <ng-select formControlName="DELIVERYTYPE">
                            <ng-option value="1" >
                                Delivery
                            </ng-option>
                            <ng-option value="2" >
                                Take Away
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="form-control full_width">
                        <label for="menuDesc" class="required">Menu Descriptions</label>
                        <textarea id="menuDesc" formControlName="MENUDESC" placeholder="Enter Menu Descriptions"></textarea>
                    </div>

                </div>
            </div>
            <div class="menu_form card">
                <div class="card-header">
                    <h4>Addon Details</h4>
                    <p>Enter any other extra optionals food items</p>
                </div>
                <div class="card-body menu-form-body d_flex modal-body" >
                    <ng-container *ngIf="addAddon.controls.length >=1 ; else addDetails">
                        <div class="dynamic_form d_flex" >
                            <ng-container formArrayName="ADDADDON">
                            <div *ngFor="let item of addAddon.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="form-control">
                                        <label>Name</label>
                                        <input placeholder="Enter Name"  formControlName="NAME" type="text">
                                    </div>
                                    <div class="form-control">
                                        <label>Price</label>
                                        <input placeholder="Enter Price" formControlName="PRICE" type="number">
                                    </div>
                                    <div class="form-control">
                                        <label >Desc</label>
                                        <input placeholder="Enter Desc"  formControlName="DESC" id="" type="text">
                                    </div>
                                    <div class="form-control button-group d_flex">
                                        <button (click)="addRow()"><span class="feather-plus"></span></button>
                                        <button (click)="deleteRow(i)"><span class="feather-x"></span></button>
                                    </div>
                                </ng-container>
                            </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu_form card">
                <div class="card-header">
                    <h4>Menu Img</h4>
                    <p>Upload Menu Img</p>
                </div>
                <div class="card-body menu-form-body d_flex modal-body">
                    <div class="img-upload">
                        <label class="d_flex" (change)="onUploadImg(imageInput)" *ngIf="isFileUploading; else showImgPreview">
                            <input type="file"  #imageInput   id="imageInput" accept="image/x-png,image/gif,image/jpeg" >
                        </label>
                        <ng-template #showImgPreview>
                            <div class="img-preview" >
                                <img src="{{uploadedImg}}" alt="menuImg">
                                <button (click)="clearPreview()" class="feather-x"></button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="menu_form card">
                <div class="card-header">
                    <h4>Publish</h4>
                </div>
                <div class="card-body menu-form-body d_flex modal-body">
                    <div class="submit_button">
                        <button class="primary-button"  (click)="onSubmit()">Submit Menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addDetails>
    <div class="submit_button mt-2 mb-2">
        <button class="primary-button" (click)="addRow()"><span class="feather-plus"></span> Addon Meals</button>
    </div>
</ng-template>
