@import "src/variable";


.dashboard-wrapper{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  padding-top: 50px;
  .container{
    .dashboard-heading{
      justify-content: space-between !important;
      .dashboard-user-detail{
        h4{
          font-size: 25px;
          font-weight: 600;
          letter-spacing: 1px;
        }
        h6{
          margin: 10px 0;
          font-size: 15px;
          letter-spacing: 1px;
          opacity: .7;
          font-weight: 600;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          span{
            margin-right: 5px;
          }
        }
      }
      .dashboard-button{
        button{

        }
      }
    }
  }
}
.dashboard-user-details-listings{
  background: $white;
  padding: 40px 0 40px 40px;
  align-items: flex-start;
  .dashboard-left-sidebar{
    background: $secondary-gray-color;
    width: 25%;
    height: 500px;
    padding: 20px 0 20px 20px;
    position: sticky;
    top: 100px;
    ul{
      li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        margin: 10px 0;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        span{
          width: 25px;
          height: 25px;
          background: $red;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          margin-right: 10px;
          color: #fff;
        }
      }
      li.active{
        background: $white;
      }
    }
  }
  .dashboard-right-sidebar{
    width: 75%;
    min-height: auto;
    padding:0 30px;
    h4{
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }
}
