<app-profile-header></app-profile-header>
<div class="dashboard-wrapper">
        <div class="container ">
            <div class="dashboard-user-details-listings d-flex">
                <div class="dashboard-left-sidebar">
                        <ul>
                            <li (click)="showPages('orders')" [ngClass]="{'active': tabType === 'orders'}"><span class="feather-shopping-cart"></span> Orders</li>
                            <li (click)="showPages('profile')" [ngClass]="{'active': tabType === 'profile'}"><span class="feather-user"></span> Profile</li>
                            <li (click)="showPages('favourite')"  [ngClass]="{'active': tabType === 'favourite'}"><span class="feather-heart"></span> Favourites</li>
                            <li (click)="showPages('payment')"  [ngClass]="{'active': tabType === 'payment'}"><span class="feather-credit-card"></span> Payment</li>
                            <li (click)="showPages('address')"  [ngClass]="{'active': tabType === 'address'}"><span class="feather-map-pin"></span> Address</li>
                        </ul>
                </div>
                <div class="dashboard-right-sidebar">
                   <ng-container *ngIf="tabType === 'orders'">
                       <h4>Past Orders</h4>
                       <app-past-order></app-past-order>
                   </ng-container>
                    <ng-container *ngIf="tabType === 'profile'">
                       <h4>Profile</h4>
                        <app-profile></app-profile>
                   </ng-container>
                    <ng-container *ngIf="tabType === 'payment'">
                        <h4>Manage Payments</h4>
                        <app-payment></app-payment>
                   </ng-container>
                    <ng-container *ngIf="tabType === 'favourite'">
                        <h4>Favourites</h4>
                        <app-favourites></app-favourites>
                   </ng-container>
                    <ng-container *ngIf="tabType === 'address'">
                        <h4>Manage Address</h4>
                        <app-address></app-address>
                   </ng-container>
                </div>
            </div>
        </div>
</div>
<ngx-spinner  bdColor = "rgba(49,142,208,0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > we are processing.... </p></ngx-spinner>
