@import "src/variable";

/*footer css*/
.footer_wrapper{
  padding-top: 50px;
  .d-flex{
    align-items: flex-start;
    .footer-gird{
      width: 33%;
      h5{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $black;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          display: block;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 20px 0;
          color: $secondary-black-color;
          font-weight: 600;
          line-height: 25px;
          cursor: pointer;
        }
      }
      p{
        display: block;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 5px 0;
        color: $secondary-black-color;
        font-weight: 600;
        line-height: 25px;
      }
    }
  }
  .footer_bottom{
    border-top: 1px solid $gray;
    padding: 20px 0;
    p{
      text-align: center;
      font-size: $small-font;
      letter-spacing: 1px;
      font-weight: 500;
      line-height: 22px;
    }
  }

}

#social_share{
  justify-content: flex-start;
  li{
    margin-right: 10px;
    a{
      display: flex;
      text-decoration: none;
      width: 25px;
      height: 25px;
      background: #f44336;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 15px;
      border-radius: 5px;
    }
  }
}