<!--footer -->
<div class="footer_wrapper">
  <div class="container d-flex">
    <div class="footer-gird">
      <h5>Oyeis</h5>
      <p>
        Taste homemade FOOD just with one click.
      </p>
      <ul id="social_share" class="d_flex">
          <li><a href="#"><span class="feather-facebook"></span></a></li>
          <li><a href="#"><span class="feather-instagram"></span></a></li>
          <li><a href="#"><span class="feather-twitter"></span></a></li>
      </ul>
    </div>
    <div class="footer-gird">
      <h5>FOR FOODIES</h5>
      <ul>
        <li>Code of Conduct</li>
        <li>Community</li>
        <li>Blogger Help</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer-gird">
      <h5>For Supplier</h5>
      <ul>
        <li routerLink="/work-with-us">Work with us</li>
        <li>Report User</li>
        <li>Mobile Apps</li>
      </ul>
    </div>
    <div class="footer-gird">
      <h5>Important Links</h5>
      <ul>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Sitemap</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="footer_bottom">
      <p>
        By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2021 © Oyeis™ Ltd. All rights reserved.
      </p>
    </div>
  </div>
</div>
