.listings {
  padding-top: 100px;
}

.listings .card {
  padding: 15px 0 !important;
}

.listings tr:nth-child(even) {
  background-color: #fa624740 !important;
}

.table_action select {
  width: 100%;
  height: 32px;
  border: 1px solid #ccc;
  background: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
}

.order-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

.order-bottom div {
  font-size: 15px;
  padding-right: 0px;
  color: #282c3f;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.past-order-wrapper {
  cursor: inherit;
  margin: 10px 0;
}

.past-order-wrapper .order-img img {
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
  height: 70px;
  border-radius: 5px;
}

.modal-container .modal-wrapper {
  min-height: auto !important;
}
/*# sourceMappingURL=cancel-order.component.css.map */