@import "src/variable";

/*food listing css*/
.tab-links{
  padding: 20px 0 0px 0;
  margin-top: 0 !important;
  position: sticky;
  z-index: 100;
  background: #fffdfd;
  margin-bottom: 15px;
  .d-flex{
    justify-content: flex-start;
    .food-process-list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $gray;
      li{
        margin-right:  20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $black;
        transition: all 0.4s;
        span{
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $yellow;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          filter: grayscale(1);
          img{
            width: 30px;
            transition: all 0.4s;
          }
        }
      }
      li.active-link{
        border-bottom: 3px solid red;
        padding-bottom: 5px;
        span{
          filter:grayscale(0) ;
        }
      }
    }

  }
}
.tab-container{
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: inherit;
  .food_card{
    width: calc(100% );
    border: 1px solid #ddd;
    margin: 10px;
    transition: all 0.4s;
    background: #fff;
    display: flex;
    justify-content: space-between;
    &:hover{
      transform: translateY(-10px);
      box-shadow: $card-shadow;
    }
    .food_card_img{
      position: relative;
      width: 30%;
      height: 150px;
      background-size: cover !IMPORTANT;
      background-position: center !important;
      overflow: hidden;
    }
    .food_card_content{
      width: 70%;
      padding: 0 20px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4{
         font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $black;
        width: 100%;
        display: flex;
        font-size: 16px !important;
        justify-content: space-between;
        span{
          margin-bottom: 5px ;
        }
        .button_grid{
          display: flex;
          justify-content: space-between;
          width: 32%;
          button{
            display: flex;
            padding: 7px 20px;
            border: none !IMPORTANT;
            border-radius: 5px;
            border: 2px solid transparent;
            justify-content: center;
            align-items: center;
            span{
              margin: 0 !important;
            }
          }
          button:nth-child(1){
            background: $red;
            color: #fff;
          }
          button:nth-child(2){
            background: transparent;
            color: #ed5a6b;
            border: 2px solid #ed5a6b !important;
          }
          
        }
      }
      h5{
        color: #44bd32;
        margin: 5px 0;
        letter-spacing: 1px;
      }
      p{
        font-size: $small-font;
        font-weight: 600;
        color: $secondary-black-color;
        letter-spacing: 1px;
        text-transform: capitalize;
        line-height: 22px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        span.veg{
          color: $green;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 15px;
            height: 15px;
            background: $green;
            position: absolute;
            border-radius: 50%;
            left: -20px;
            top: 4px;
          }
        }
        span.non-veg{
          color: $red;
          font-weight: 800;
          position: relative;
          &::after{
            content: "";
            width: 15px;
            height: 15px;
            background: $red;
            position: absolute;
            border-radius: 50%;
            left: -20px;
            top: 4px;
          }
        }
      }
      .rating_star{
        margin: 10px 0;
        display: flex;
        .stars{
          position: relative;
          overflow: hidden;
          background: $gray;
          padding: 2px;
          border-radius: 4px;
          z-index: 1;
          margin-right: 4px;
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: $red;
          }
          span{
            color: $white;
          }
        }
        .start_detail{
          margin-left: 10px;
          font-weight: 700;
          letter-spacing: 1px;
          span{
            opacity: .6;
          }
        }
      }
    }
  }
}
/*filters listings css*/
.filters_listings_wrapper {
  .d-flex {
    .filters_listings {
      width: 100%;
      display: flex;
      justify-content: end;
      li {
        display: block;
        margin: 10px;
       label{
          input{
            display: none !important;
          }
         span {
           margin-right: 5px;
         }
         div{
           border: 1px solid $gray;
           padding: 5px 20px;
           border-radius: 8px;
           font-size: 14px;
           letter-spacing: 1px;
           font-weight: 300;
           cursor: pointer;
           background: $white;
           color: $black;
         }
         input:checked ~ div{
           border: 2px solid $red;
           color: $red;
           font-weight: 700;
         }
       }
       .search_by_chef{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 10px;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 1px;
        cursor: pointer;
         span{
          color: #27ae60;
          margin-right: 5px;
         }
       }
      }
    }
  }
}
.modal-header{
  padding: 10px !important;
}
.modal-wrapper{
  width: 55% !important;
  min-height: auto;
  .modal-body{
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    .product_display{
      .product_img{
        width: 35%;
        height: auto;
        border-radius: 8px;
        img{
          width: 100%;
          height: 250px;
          border: 1px solid $gray;
          border-radius: 9px;
        }
    
      }
      .product_details{
        width: 63%;
        padding: 0 20px;
        min-height: 304px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          width: 65%;
          li{
            display: block;
            margin-right: 5px;
            width: 100%;
            button{
              box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
              width: 100%;
              border: none;
              height: 40px;
              padding: 0 10px;
              border-radius: 9px;
              letter-spacing: 1px;
              font-weight: bold;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              span{
                font-size: 15px;
                margin-right: 5px;

              }
            }
          }
          li:nth-child(1){
            button{
              color: $black;
              background: $green;
            }
          }
          li:nth-child(2){
            button{
              color: $white;
              background: $red;
            }
          }
        }
        h4{
          letter-spacing: 1px;
          margin: 5px 0;
          color: #282c3f;
          font-size: 20px;
          font-weight: 600;
        }
        h5{
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
          span{
            color: #000;
            font-weight: 800;
            display: inline-block;
            font-size: 14px;
          }
        }
        h3{
          font-size: 17px;
          margin: 5px 0;
          letter-spacing: 1px;
          color: $green;
        }
        h6{
          font-size: 11px;
          font-weight: 600;
          color: #686b78;
          letter-spacing: 1px;
          text-transform: capitalize;
          line-height: 22px;
          display: flex;
          width: 100%;
          margin:  0;
          span{
            margin-left: 40px;
            font-weight: 800;
            position: relative;
          }
          span.veg {
            color: #0be881;

            &::after{
              content: "";
              width: 11px;
              height: 11px;
              background: #0be881;
              position: absolute;
              border-radius: 50%;
              left: -20px;
              top: 6px;
            }
          }
          span.non-veg {
            color: #ed5a6b;
            &::after{
              content: "";
              width: 11px;
              height: 11px;
              background: #ed5a6b;
              position: absolute;
              border-radius: 50%;
              left: -20px;
              top: 6px;
            }
          }
        }
        .menu_descriptions{
          color: $secondary-black-color;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 25px;
        }
      }
    }
  }
  .modal-footer{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 10px;
    border-top: 1px solid $gray;
    margin-top: 10px;
  }

}

.chef_profile{
  position: sticky;
  top: 62px;
  padding: 30px 0;
  z-index: 99;
  background-color: #171a29;
  margin-bottom: 70px;
  transition: all 0.4s;
  .chef_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .chef_img{
      width: 15%;
       overflow: hidden;
       transition: all 0.4s;

      img{
        width: 100%;
      }
    }
    .chef_content{
      width: 55%;
      padding: 20px;
      color: #fff;
      letter-spacing: 1px;
      h4{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
      p{
        font-size: 15px;
        font-weight: 300;
        margin-top: 6px;
        margin-bottom: 0;
      }
    }
  }
}
.fixed_profile{
  padding: 10px !important;
  .chef_wrapper{
    .chef_img{
      width: 12%;
      img{

      }
    }
    .chef_content{
      h4{

      }
      p{

      }
    }
  }
}
.food_listing_wrapper{
  display: flex;
    justify-content: center;
    align-items: center;
    .food_container{
      display: flex;
      justify-content: space-between;
      .listing_left{
        width: 62%;
      //  height: 2000px;
      }
      .cart_sec{
        width: 34%;
        top: 235px;
        padding: 30px;
        height: 500px;
        position: sticky;
       
        .cart_heading{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          h4{
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 3px;
          }
          h5{
            font-weight: bold;
            letter-spacing: 1px;
            opacity: .8;
            text-transform: uppercase;
          }
        }
        .cart_body{
          ul{
            margin-top: 35px;
            li{
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              .food_name{
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: capitalize;
                color: #282c3f;
                font-size: 13px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span{
                  width: 12px;
                  height: 12px;
                  border-radius: 20px;
                  margin-right: 6px;
                }
                span.veg{
                  background: #5ce982;
                }
                span.non-veg{
                  background: $red;
                }
                strong{
                  
                }
              }
              .price{   
                 font-size: 14px;
                font-weight: 600;
                span{
                  padding: 5px !important;
                  border-radius: 5px !important;
                  margin-left: 5px;
                  font-size: 11px;
                }
              }
            }
          }
        }
        .cart_footer{
          padding: 15px 0;
          ul{
            li{
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sub_total{
                h4{
                  font-size: 16px;
                  font-weight: 700;
                }
                p{
                  font-size: 12px;
                  letter-spacing: 1px;
                  font-weight: 600;
                  color: #7e808c;
                  margin: 2px 0;
                }
              }
              .price{
                font-size: 16px;
                font-weight: 900;
                color: #ed5a6b;
              }
            }
          }
          button{

            display: flex;
            padding: 7px 25px;
            background: #ed5a6b;
            border: none !important;
            color: #fff;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 39px;
            margin-top: 17px;
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 700;
        
          }
        }
      }
    }

}
.search_dishes{
  width: 254px;
  display: flex;
  table-layout: fixed;
  box-shadow: 0 3px 15px 0 rgb(40 44 63 / 10%);
  border: 1px solid rgba(0,0,0,.04);
  height: 40px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  color: #000;
  margin-top: 10px;
  padding: 0 10px;
  span{

  }
  input{
    width: 89%;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
@media (min-width: 768px) {
  .managePadding{
    padding-top: 70px;
  }
}

ul#offers{
  background: #fff;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 2px dashed #ccc;
  margin: 20px 0;
  li{
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 23px;
    span{
      width: 20px;
      height: 20px;
      background: #ed5a6b;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      margin-right: 9px;
      color: #fff;
      font-size: 12px;
    }
  }
}
.managePadding{
  #filter_header{
    padding: 7px;
    top: 226px;
    ul{
      li{
        font-size: 14px;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.reviews{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  .reviews_wrapper{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .review_header{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .user_img{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $red;
        color: #fff;
        font-size: 20px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;

        img{
          width: 100%;
        }
      }
      .user_detail{
        h4{

        }
      }
    }
    .review_body{
      padding-top: 20px;
      h3{
        margin-bottom: 10px;
        padding: 5px;
        background: #4caf50;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 900;
        display: inline-block;
        width: auto;
        font-size: 13px;
      }
      p{
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }
  }
}
.show_scroll{
  height: 190px;
  overflow-y: scroll;
}