<app-header></app-header>
<div class="food_listings_section">
  <div class="chef_profile" id="chefProfile_sec">
    <div class="container">
      <div class="chef_wrapper">
        <div class="chef_img">
          <img src="{{chefData?.MENU_IMG}}"
           onerror="this.src=`https://i1.wp.com/lanecdr.org/wp-content/uploads/2019/08/placeholder.png?w=1200&ssl=1`"  alt="{{chefData?.OUTLET_NAME}}">

        </div>
        <div class="chef_content">
           <h4>{{chefData?.FIRST_NAME}} {{chefData?.LAST_NAME}}</h4>
          <p>{{chefData?.ADDRESS}}</p>
          <div class="search_dishes">
              <span class="feather-search"></span> <input type="text"  [(ngModel)]="searchText"  placeholder="Search with in menu">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="food_listing_wrapper" id="food_listings">
    <div class="container food_container">
      <div class=" listing_left">
        <!-- Tab Links According to chef -->
        
        <div class="tab-links" id="filter_header">
          <div class="container-fluid d-flex">
            <ul class="food-process-list">
              <li class="d-flex" [ngClass]="{'active-link': isDelivery}" (click)="isDelivery = true; isReview = false; isTakeAway = false;">
                <span>
                  <img src="assets/img/delivery-man.svg" alt="delivery">
                </span>
                Delivery
              </li>
              <li class="d-flex" [ngClass]="{'active-link':isTakeAway}" (click)="isTakeAway = true; isReview = false; isDelivery = false">
                <span>
                  <img src="assets/img/take-away.svg" alt="delivery">
                </span>
                Take Away
              </li>
              <li class="d-flex" [ngClass]="{'active-link':isReview}" (click)="isReview = true; isTakeAway = false; isDelivery = false;">
                <span>
                  <img src="assets/img/testimonial.png" alt="reviews">
                </span>
                Reviews
              </li> 
              <!-- <li class="d-flex">
                <span>
                  <img src="assets/img/fruits-and-vegetables.png" alt="delivery">
                </span>
                Veg
              </li>
              <li class="d-flex">
                <span>
                  <img src="assets/img/fried-chicken.png" alt="delivery">
                </span>
                Non-Veg
              </li> -->
        
            </ul>
          </div>
        </div>
  
  
        <!--deliver wrapper-->
        <div class="container-fluid">
          <div class="delivery tab-container d-flex" *ngIf="isDelivery">
            <ng-container *ngFor="let item of deliveryMenu | filter: searchText">
              <ng-container *ngIf="deliveryMenu">
                <div class="food_card d-flex">
                  <ng-container>
                    <div class="new-tag">
                      <div class="_1kXWW">Exclusive</div>
                    </div>
                    <div class="food_card_img" [style.background]="'url('+item.IMG+')'">
                     </div>
                    <div class="food_card_content">
                      <h4>
                        <span>{{item.MENUTITLE | slice: 0 : 20}}..</span>
                        <div class="button_grid">
                          <button (click)="addItemInCart(item)"><span class="feather-shopping-cart"></span></button>
                          
                          <button *ngIf="isUserLogin" (click)="addItemInFavourites(item)"><span class="feather-heart"></span></button>
                        </div>
                      </h4>

                      <h5>{{item.MENUPRICE | currency: 'INR'}}</h5>
                      <div class="rating_star"  *ngIf="convertStringToNumber(item.OVERALLRATINGCOUNT) > 0">
                        <div class="stars" *ngFor="let stars of [].constructor(convertStringToNumber(item.OVERALLRATINGCOUNT))">
                         <span class="feather-star"></span>
                       </div>
                       <div class="start_detail">
                        {{convertStringToNumber(item.OVERALLRATINGCOUNT)}}
                         <span>({{item.REVIEWCOUNT}})&nbsp;Reviews</span>
                       </div>
                     </div> 
                      <p>{{item.CUISINENAME}} <span
                          [ngClass]="{'non-veg': item.MENUTYPENAME === 'Non-Veg', 'veg': item.MENUTYPENAME === 'Veg'}">{{item.MENUTYPENAME}}</span>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="deliveryMenu?.length === 0">
              <app-no-item-found></app-no-item-found>
            </ng-container>
            <ng-container *ngIf="!showLoadingCard; else showLoader"></ng-container>
          </div>
          <div class="takeaway tab-container d-flex" *ngIf="isTakeAway">
            <ng-container *ngFor="let item of takenAwayMenu | filter: searchText">
              <ng-container *ngIf="takenAwayMenu">
                <div class="food_card d-flex" >
                  <ng-container>
                    <div class="new-tag">
                      <div class="_1kXWW">Exclusive</div>
                    </div>
                    <div class="food_card_img" [style.background]="'url('+item.IMG+')'">

                    </div>
                    <div class="food_card_content">
                      <h4>
                        <span>{{item.MENUTITLE | slice: 0 : 20}}..</span>
                        <div class="button_grid">
                          <button (click)="addItemInCart(item)"><span class="feather-shopping-cart"></span></button>
                          <button (click)="addItemInFavourites(item)"><span class="feather-heart"></span></button>
                        </div>
                       
                      </h4>

                      <h5>{{item.MENUPRICE | currency: 'INR'}}</h5>
                      <div class="rating_star"  *ngIf="convertStringToNumber(item.OVERALLRATINGCOUNT) > 0">
                        <div class="stars" *ngFor="let stars of [].constructor(convertStringToNumber(item.OVERALLRATINGCOUNT))">
                         <span class="feather-star"></span>
                       </div>
                       <div class="start_detail">
                         {{convertStringToNumber(item.OVERALLRATINGCOUNT)}}
                         <span>({{item.REVIEWCOUNT}})&nbsp;Reviews</span>
                       </div>
                     </div> 
                      <p>{{item.CUISINENAME}} <span
                          [ngClass]="{'non-veg': item.MENUTYPENAME === 'Non-Veg', 'veg': item.MENUTYPENAME === 'Veg'}">{{item.MENUTYPENAME}}</span>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="takenAwayMenu?.length === 0">
              <app-no-item-found></app-no-item-found>
            </ng-container>
            <ng-container *ngIf="!showLoadingCard; else showLoader"></ng-container>

          </div>
          <div class="reviews tab-container d-flex" *ngIf="isReview">
            <ng-container *ngFor="let review of userReviewData">
              <div class="reviews_wrapper">
                <div class="review_header">
                  <div class="user_img">
                      <span *ngIf="!review.CUSTOMER_PROFILE">{{review.FIRST_NAME | slice: 0 : 1}}</span>
                      <img src="{{review.CUSTOMER_PROFILE}}" alt="" *ngIf="review.CUSTOMER_PROFILE">
                  </div>
                  <div class="user_detail">
                    <h4>{{review.FIRST_NAME}} {{review.LAST_NAME}}</h4>
                  </div>
                </div>
                <div class="review_body">
                  <h3><span class="feather-star"></span> 4</h3>
                  <p>
                    {{review.DESCRIPTION}}
                  </p>
                </div>
              </div>
            </ng-container>
             
            
          </div>
        </div>
      </div>
      <div class="cart_sec" id="cartListing">
              <!-- Offer Listings -->
              <ul id="offers" *ngIf="offerData?.length > 0" [ngClass]="{'show_scroll': offerData?.length > 3}">
                <li *ngFor="let offer of offerData"> 
                  <span class="feather-percent"></span> {{offer.DISCOUNT}}% off  up to {{calculateMinPrice(offer.MIN_PRICE, offer.DISCOUNT)  | currency: 'INR' }} on minimum order of {{offer.MIN_PRICE | currency: 'INR'}}.
                </li>
                
              </ul>

          <div class="cart_heading">
            <h4>Cart</h4>
            <h5>{{cartData?.length}} Items</h5>
          </div>
          <ng-container *ngIf="cartData?.length >= 1; else noDataFound">
            <div class="cart_body" [ngClass]="{'show_scroll': cartData?.length > 5}">
              <ul >
                <li *ngFor="let item of cartData">
                  <div class="food_name">
                      <span [ngClass]="{'veg': item.MENUTYPENAME ==='veg', 'non-veg': item.MENUTYPENAME ==='non-veg'}"></span>
                      {{item.MENUTITLE | slice: 0 : 10}}..
                      <strong><i class="feather-x"></i>{{item.QUANTIY}}</strong>
                  </div>
                  <div class="qty-manage">
                    <button (click)="inc(item)"><span class="feather-plus"></span></button>
                    <span>{{item.QUANTIY}}</span>
                    <button (click)="dec(item)"><span class="feather-minus"></span></button>
                </div>
                  <div class="price d_flex">
                      {{item.MENUPRICE | currency: 'INR'}}
                      <span (click)="removeItem(item)" class="feather-trash-2 primary-button"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="cart_footer">
              <ul>
                <li>
                    <div class="sub_total">
                        <h4>Subtotal</h4>
                        <p>Extra charges may apply</p>
                    </div>
                    <div class="price">
                      {{(getCartItemPrice(cartData)) | currency: 'INR'}}
                    </div>
                </li>
              </ul>
              <ng-container *ngIf="isUserLogin; else showLogin">
                <button routerLink="/cart">Checkout</button>
              </ng-container>
              <ng-template #showLogin>
                <button  (click)="isLoginModalVisible = true">Checkout</button>
              </ng-template>
            </div>
        </ng-container>
      </div>
    </div>
    
  </div>
</div>

<app-login *ngIf="isLoginModalVisible" [apiEndpoint]="routeUrl" (isModalHide)="hideModal($event)"></app-login>
<div class="modal-container d-flex" *ngIf="showMenuDetailsModal">
  <div class="modal-wrapper">
    <div class="modal-header d-flex">
      <h4>{{menuDetails?.MENUTITLE | titlecase}}</h4>
      <div class="cancel-button d-flex" (click)="resetModal()">
        <button class="feather-x"> </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="product_display d_flex">
        <div class="product_img">
          <img src="{{menuDetails?.IMG}}" alt="{{menuDetails?.MENUTITLE}}">

        </div>
        <div class="product_details">
          <h4>{{menuDetails?.MENUTITLE | titlecase}}</h4>
          <h5>Available for :
            <span *ngIf="menuDetails?.DELIVERYTYPE === '1' ">
              Delivery
            </span>
            <span *ngIf="menuDetails?.DELIVERYTYPE === '2' ">
              Take Away
            </span>
          </h5>
          <h6>{{menuDetails?.CUISINENAME}} <span
              [ngClass]="{'non-veg': menuDetails?.MENUTYPENAME === 'Non-Veg', 'veg': menuDetails?.MENUTYPENAME === 'Veg'}">{{menuDetails?.MENUTYPENAME}}</span>
          </h6>
          <h3>{{menuDetails?.MENUPRICE | currency: 'INR'}}</h3>
          <div class="menu_descriptions">
            {{menuDetails?.MENUDESC | titlecase}}
          </div>
          <ul>
            <li *ngIf="isUserLogin" (click)="addItemInFavourites(menuDetails)"><button><span
                  class="feather-heart"></span> Add To Wishlist</button></li>
            <li *ngIf="!isUserLogin" (click)="isLoginModalVisible = true; showMenuDetailsModal = false"><button><span
                  class="feather-heart"></span> Add To Wishlist</button></li>
            <li (click)="addItemInCart(menuDetails)"><button><span class="feather-shopping-cart"></span> Add To
                Cart</button></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>



<ng-template #noDataFound>
  <app-no-item-found></app-no-item-found>
</ng-template>


 <!-- card Loader -->
 <ng-template #showLoader >
  <app-ht-card-loader style="width: 100%"></app-ht-card-loader>
</ng-template>
