<app-partner-header></app-partner-header>
<div class="container">
  <div class="partner-form ">
    <div class="partner_profile d-flex" [ngClass]="{'sticky_profile':isSidebarSticky}">
      <div class="partner-profile-left d-flex" [ngClass]="{'sticky_sidebar':isSidebarSticky}" id="partner-sidebar">
        <div class="info_no d-flex">
          <span>1</span>
          <div class="info_detail" (click)="scroll(outletInfo)">
            <h6>Chef Information</h6>
            <p>Your name, address, contact no. bank details</p>
          </div>
        </div>
        <div class="info_no d-flex" (click)="scroll(chefContact)">
          <span>2</span>
          <div class="info_detail">
            <h6>Contact number of Chef</h6>
            <p>Your customers will call on this number for general enquiries</p>
          </div>
        </div>
        <div class="info_no d-flex" (click)="scroll(owner_detail)">
          <span>3</span>
          <div class="info_detail">
            <h6>Chef owner details</h6>
            <p>These will be used to share revenue related communications</p>
          </div>
        </div>
        <div class="info_no d-flex" (click)="scroll(estType)">
          <span>4</span>
          <div class="info_detail">
            <h6>Establishment Type</h6>
            <p>Select most relevant category for your work type</p>
          </div>
        </div>
        <div class="info_no d-flex" (click)="scroll(kitchenImg)">
          <span>5</span>
          <div class="info_detail">
            <h6>Chef Kitchen Images</h6>
            <p>These will be used to for chef verification</p>
          </div>
        </div>
        
        <div class="info_no d-flex" (click)="scroll(estType)">
          <span>6</span>
          <div class="info_detail">
            <h6>Restaurant operational hours</h6>
            <p>Mark restaurant opening and closing hours</p>
          </div>
        </div>
        <div class="info_no d-flex" (click)="scroll(foodDetail)">
          <span>7</span>
          <div class="info_detail">
            <h6>Food Related details</h6>
            <p>These will be used to share Food related Information</p>
          </div>
        </div>
      </div>
      <div class="partner-profile-right" [formGroup]="partnerOutletInfo" (ngSubmit)="onSubmit()">
        <div class="partner-profile-fields-wrapper" #outletInfo>
          <div class="partner-profile-fields-header">
            <h4>Chef Information</h4>
            <p>Name, address and location</p>
          </div>
          <div class="partner-profile-fields-body">
            <div class="form-control">
              <label class="required">First Name</label>
              <input type="text" placeholder="" formControlName="FIRST_NAME">
            </div>
            <div class="form-control">
              <label class="required">Last Name</label>
              <input type="text" placeholder="" formControlName="LAST_NAME">
            </div>
            <div class="form-control">
              <label class="required">Email</label>
              <input type="email" placeholder="" disabled formControlName="EMAIL" [attr.datafld]="true">
            </div>
            <div class="form-control">
              <label class="required" for="gender">Gender</label>
              <select id="gender" formControlName="GENDER">
                <ng-container *ngFor="let gender of  appCommonConstant.gender">
                  <option [value]=gender.id>{{gender.title}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-control">
              <label for="mobile">Mobile</label>
              <input placeholder="Enter Mobile No." mask="(000) 000 00 00" formControlName="MOBILE" type="text"
                id="MOBILE" [attr.datafld]="true">
            </div>
            <div class="form-control">
              <label class="required">State</label>
              <input type="text" placeholder="" formControlName="STATE">
            </div>
            <div class="form-control">
              <label class="required">City</label>
              <input type="text" placeholder="" formControlName="CITY">
            </div>
            <div class="form-control">
              <label class="required">Pin code</label>
              <input type="text" placeholder="" formControlName="PINCODE">
            </div>
            <div class="form-control">
              <label class="required">Address</label>
              <input type="text" placeholder="" formControlName="ADDRESS">
            </div>
          </div>
        </div>
        <div class="partner-profile-fields-wrapper" #chefContact>
          <div class="partner-profile-fields-header">
            <h4>Contact number of Chef </h4>
            <p>Your customers will call on this number for general enquiries</p>
          </div>
          <div class="partner-profile-fields-body">
            <div class="form-control">
              <label class="required">Primary Contact Number</label>
              <input type="text" placeholder="" formControlName="PRIMARY_CONTACT_NO" mask="(000) 000 00 00">
            </div>
            <div class="form-control">
              <label class="required">Secondary Contact Number</label>
              <input type="text" placeholder="" formControlName="SECONDARY_CONTACT_NO" mask="(000) 000 00 00">
            </div>
          </div>
        </div>
        <div class="partner-profile-fields-wrapper" #owner_detail>
          <div class="partner-profile-fields-header">
            <h4>Chef owner details</h4>
            <p>These will be used to share revenue related communications</p>
          </div>
          <div class="partner-profile-fields-body">
            <div class="form-control">
              <label class="required"> Chef Full Name</label>
              <input type="text" placeholder="" formControlName="OUTLET_NAME">
            </div>
            <div class="form-control">
              <label class="required">Chef Email </label>
              <input type="email" placeholder="" formControlName="OUTLET_EMAIL">
            </div>
            <div class="form-control">
              <label>Chef Contact Number</label>
              <input type="text" placeholder="" formControlName="MOBILE" mask="(000) 000 00 00">
            </div>
            <div class="form-control">
              <label class="required">Chef Addhar Number</label>
              <input type="text" placeholder="" formControlName="OUTLET_ADDHAR_NUMBER"  mask="0000 0000 0000">
            </div>
            <div class="form-control">
              <label class="required">Chef PAN Card</label>
              <input type="text" placeholder="" formControlName="PAN_CARD" mask="AAAAA0000A">
            </div>
            <div class="form-control">
              <label class="required">Account Number</label>
              <input type="text" placeholder="" formControlName="ACCOUNT_NUMBER">
            </div>
            <div class="form-control">
              <label class="required">Account Name</label>
              <input type="text" placeholder="" formControlName="ACCOUNT_NAME">
            </div>
            <div class="form-control">
              <label class="required">IFSC Code</label>
              <input type="text" placeholder="" formControlName="IFSC_CODE">
            </div>
            <div class="form-control">
              <label class="required">Branch Code</label>
              <input type="text" placeholder="" formControlName="BRANCH_CODE">
            </div>
          </div>
        </div>
        <div class="partner-profile-fields-wrapper" #kitchenImg>
          <div class="partner-profile-fields-header">
            <h4>Chef Kitchen Images</h4>
            <p>These will be used to for chef verification</p>
          </div>
          <div class="partner-profile-fields-body">
            <div class="kitchen_image">
              <div class="form-control">
                <div class="img-upload">
                  <label class="d_flex" (change)="onUploadImg(imageInput, 'KITCHEN_LEFT_IMG')" *ngIf="isKitchenLeftUploading">
                    <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                  </label>
                  <ng-container *ngIf="!isKitchenLeftUploading">
                    <div class="img-preview">
                      <img src="{{kitchenLeftImg}}" alt="menuImg">
                      <button (click)="clearPreview('KITCHEN_LEFT_IMG')" class="feather-x"></button>
                    </div>
                  </ng-container>
                </div>
                <p>Kitchen Left Img</p>
              </div>
              <div class="form-control">
                <div class="img-upload">
                  <label class="d_flex"  (change)="onUploadImg(imageInput, 'KITCHEN_RIGHT_IMG')" *ngIf="isKitchenRightUploading">
                    <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                  </label>
                  <ng-container *ngIf="!isKitchenRightUploading">
                    <div class="img-preview">
                      <img src="{{kitchenRightImg}}" alt="menuImg">
                      <button (click)="clearPreview('KITCHEN_RIGHT_IMG')" class="feather-x"></button>
                    </div>
                  </ng-container>
                </div>
                <p>Kitchen Right Img</p>
              </div>
              <div class="form-control">
                <div class="img-upload">
                  <label class="d_flex"  (change)="onUploadImg(imageInput, 'KITCHEN_CENTER_IMG')" *ngIf="isKitchenCenterUploading">
                    <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                  </label>
                  <ng-container *ngIf="!isKitchenCenterUploading">
                    <div class="img-preview">
                      <img src="{{kitchenCenterImg}}" alt="menuImg">
                      <button (click)="clearPreview('KITCHEN_CENTER_IMG')" class="feather-x"></button>
                    </div>
                  </ng-container>
                </div>
                <p>Kitchen Center Img</p>

              </div>
              <div class="form-control">
                <div class="img-upload">
                  <label class="d_flex"  (change)="onUploadImg(imageInput, 'SELFIE_WITH_KITCHEN')" *ngIf="isSelfieWithKitchenUploading">
                    <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                  </label>
                  <ng-container *ngIf="!isSelfieWithKitchenUploading">
                    <div class="img-preview">
                      <img src="{{selfieWithkitchenImg}}" alt="menuImg">
                      <button (click)="clearPreview('SELFIE_WITH_KITCHEN')" class="feather-x"></button>
                    </div>
                  </ng-container>
                </div>
                <p>Selfie With Kitchen</p>
              </div>
            </div>
          </div>
        </div>
        <div class="partner-profile-fields-wrapper" #estType>
          <div class="partner-profile-fields-header">
            <h4>Establishment Type</h4>
            <p>Select most relevant category for your work type</p>
          </div>
          <div class="partner-profile-fields-body flex_column">
            <!--Establishment Type-->
            <div class="d-block">
              <div class="radio_custom">
                <input type="radio" id="delivery_takeaway" formControlName="ESTABLISHMENT_TYPE"
                  name="ESTABLISHMENT_TYPE" checked value="1">
                <label for="delivery_takeaway">Both, Delivery & Take Away</label>
                <p>Select when you have a facility for deliver and take away to customer</p>
              </div>
              <div class="radio_custom">
                <input type="radio" id="delivery" name="ESTABLISHMENT_TYPE" value="2"
                  formControlName="ESTABLISHMENT_TYPE">
                <label for="delivery">Delivery</label>
                <p>Select when you have a facility for deliver to customer</p>
              </div>
              <div class="radio_custom">
                <input type="radio" id="takeaway" name="ESTABLISHMENT_TYPE" value="3"
                  formControlName="ESTABLISHMENT_TYPE">
                <label for="takeaway">Take Away</label>
                <p>Select when you don’t have a facility for deliver to customer </p>
              </div>
            </div>
          </div>
        </div>
        <div #timeSchedule class="partner-profile-fields-wrapper">
          <div class="partner-profile-fields-header">
            <h4>Restaurant operational hours</h4>
            <p>Mark restaurant opening and closing hours</p>

          </div>
          <div class="partner-profile-fields-body" [formGroup]="partnerOutletInfo">

            <div class="form-control" style="width:100%;align-items: center;">
              <div class="operational_hrs">
                <button class="primary-button" style="width: auto;" (click)="addRow()"><span
                    class="feather-plus"></span>Add Operational Hours</button>
              </div>

              <ng-container>
                <div class="dynamic_form d_flex"
                  *ngIf="partnerOutletInfo.get('TIME_SCHEDULED')['controls'].length >= 1">
                  <ng-container formArrayName="TIME_SCHEDULED">
                    <div *ngFor="let item of  partnerOutletInfo.get('TIME_SCHEDULED')['controls']; let i=index">
                      <ng-container [formGroupName]="i">
                        <div class="form-control">
                          <label class="required">Day</label>
                          <select formControlName="SELECTED_DAY">
                            <option value="null" disabled>Select Day</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">sunday</option>
                          </select>
                        </div>

                        <div class="form-control">
                          <label class="required">From</label>
                          <input placeholder="" formControlName="FROM_TIME" type="time">
                        </div>
                        <div class="form-control">
                          <label class="required">Until</label>
                          <input placeholder="" formControlName="TO_TIME" type="time">
                        </div>


                        <div class="form-control button-group d_flex">
                          <button (click)="submitHrs(i)"><span class="feather-check"></span></button>
                          <button (click)="deleteRow(i)"><span class="feather-x"></span></button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-template #showAddButton>
                  </ng-template>

                </div>
              </ng-container>

            </div>


          </div>
        </div>
        <div #foodDetail class="partner-profile-fields-wrapper">
          <div class="partner-profile-fields-header">
            <h4>Food Related details</h4>
            <p>These will be used to share Food related Information</p>
          </div>
          <div class="partner-profile-fields-body">
            <div class="form-control">
              <div class="img-upload">
                <label class="d_flex" (change)="onUploadImg(imageInput, 'chef_menu_image')" *ngIf="isFileUploading; else showImgPreview">
                  <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                </label>
                <ng-template #showImgPreview>
                  <div class="img-preview">
                    <img src="{{uploadedImg}}" alt="menuImg">
                    <button (click)="clearPreview('chef_menu_image')" class="feather-x"></button>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="form-control">
              <div class="profile_food_type">
                <label class="required"> Select cuisines <span>(Type of food your serve)</span></label>
                <ng-multiselect-dropdown [placeholder]="'Select cuisines'" [settings]="dropdownSettings"
                  [data]="cuisinesData" [(ngModel)]="selectedCuisines" [ngModelOptions]="{standalone: true}"
                  (onSelect)="onItemSelect($event, 'cuisines')" (onSelectAll)="onSelectAll($event, 'cuisines')"
                  (onDeSelect)="onDeSelect($event, 'cuisines')" (onDeSelectAll)="onDeSelectAll($event, 'cuisines')">
                </ng-multiselect-dropdown>
              </div>
              <div class="profile_food_type">
                <label class="required"> Select Food Type <span>(for vegetarian & Non-Vegetarian)</span></label>
                <ng-multiselect-dropdown [placeholder]="'Select Food Type'" [settings]="dropdownSettings"
                  [data]="foodTypeData" [(ngModel)]="selectedFoodType" [ngModelOptions]="{standalone: true}"
                  (onSelect)="onItemSelect($event, 'foodType')" (onSelectAll)="onSelectAll($event, 'foodType')"
                  (onDeSelect)="onDeSelect($event, 'foodType')" (onDeSelectAll)="onDeSelectAll($event, 'foodType')">
                </ng-multiselect-dropdown>
              </div>

            </div>


          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="partner-form-button">
  <div class="container">
    <button>Log Out <span class="feather-arrow-left"></span></button>
    
    <button [disabled]="!partnerOutletInfo.valid" (click)="onSubmit()">Submit <span
        class="feather-arrow-right"></span></button>
  </div>
</div>