@import 'src/variable';

.partner-form{
  padding-top: 100px;
  .partner_profile{
    align-items: flex-start;
    padding-bottom: 100px;
    .partner-profile-left{
      position: sticky;
      position: -webkit-sticky;
      top: 80px;
      background: $white;
      border: 1px solid $gray;
      border-radius: 0.8rem;
     width: 27%;
      padding: 0 10px;
      flex-direction: column;
      .info_no{
        cursor: pointer;
        width: 100%;
        &:hover{
          background: $secondary-gray-color;
        }
        span{
          width: 30px;
          height: 30px;
          background: $secondary-gray-color;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .info_detail{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 90%;
        h6{
          font-size: 15px;
          line-height: 25px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: capitalize;
          color: $black;
        }
        p{
          color: $secondary-black-color;
          font-size: 12px;
          line-height: 22px;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: capitalize;
          margin: 5px 0;
        }
      }
    }
    .partner-profile-right{
      width: calc(100% - 27%);
      padding: 0;
      min-height: auto;
      .partner-profile-fields-wrapper{
        background: $white;
        width: 95%;
        min-height: auto;
        border: 1px solid $gray;
        border-radius: 10px;
        margin: 0 auto 25px auto ;
      //  background: $secondary-gray-color;
        padding: 20px;
        .partner-profile-fields-header{
          display: flex;
          flex-direction: column;
          padding-bottom:  20px;
          h4{
            font-size: 25px;
            margin: 5px 0;
            color: $black;
          }
          p{
            font-size: 13px;
            letter-spacing: 1px;
            font-weight: 500;
            opacity: .6;
          }
        }
        .partner-profile-fields-body{
          display: flex;
          flex-wrap: wrap;

          .form-control{
            width: 48%;
            margin-right: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            label{
              font-size: 13px;
              letter-spacing: 1px;
              font-weight: 600;
              opacity: .6;
              span{
                font-size: 12px;
                color: $red;
              }
            }
            input, select{
              margin: 10px 0;
              height: 40px;
              display: block;
              border: 1px solid #ccc;
              border-radius: 3px;
              padding: 10px;
              background: $white;
            }
          }
        }
      }
    }
  }
}
.partner-form-button{
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  position: fixed;
  left: 0px;
  z-index: 999;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 0px -1px 14px;
  .container{
    display: flex;
    justify-content: flex-end;
    button{
      padding: 15px 50px;
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      letter-spacing: 1px;
      border: none;
      border-radius: 10px;
     background: transparent;
    }
    button:nth-child(1){
      float: left;
      border: 1px solid $red;
      color: $red;
      display: none !important;
    }
    button:nth-child(2){
      float: right;
      background: $red;
      color: $white;
    }
  }
}

/*sticky sidebar*/
.sticky_sidebar{
   position: fixed;
    left: 5%;
    width: 20% !IMPORTANT;
    background: #fff;
}
/*sticky profile*/
.sticky_profile{
  justify-content: flex-end;
  .partner-profile-right{
    width: calc(100% - 13%) !important;
  }
}
.img-upload{
  label{
    flex-direction: column;
    height: 200px;
    input{
      display: none !important;
    }
  }
}
.profile_food_type{
  margin: 20px 0;
  width: 100%;
}
.primary-button{
  padding: 0 20px !important;
}
.dynamic_form{
  width: 100% !important;
  flex-direction: column;
  div{
    width: 100%;
    display: flex;
    .button-group{
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      button{
        width: 45% !important;
        margin: 0 10px;
        position: relative;
        top: 7px;
      }
    }
  }
}
.operational_hrs{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  button{
    width: auto;
    font-size: 13px;
   }
}
.kitchen_image{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  .form-control{
    width: 23% !important;
      .img-upload{
        label{
          height: 145px !important;
        }
        .img-preview{
          height: 145px;
          button{
            top: 0;
            right: 5px;
          }
        }
      }
      p{
        text-align: center;
        width: 100%;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: capitalize;
      }
  }
}