<app-partner-header></app-partner-header>
<div class="partner-breadcrumb">
  <div class="container">
    <div class="partner-wrapper custom_align_center">
      <h4>Work With Us</h4>
      <p>
        At Oyeis, we are trying to create an ecosystem where all Indians can get their favorite home-cooked food with the click of a button, irrespective of which part of the country they may be in.
      </p>
      <p>
        We are there to satisfy the taste buds of Indians when they are away from their home. We are connecting customers who want delicious food with local chefs who are passionate about creating it.
We are inviting you to become a local chef for us and join our family of foodies.
      </p>
      <div class="button-group d-flex">
        <button (click)="onRegister()">Register Your Self</button>
        <button (click)="isLoginModalVisible = true">Login</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="why_partner">
    <div class="partner-content">
      <h4>Why Should You Join Us?</h4>
    </div>
    <div class="partner-grid d-flex">
      <div class="partner-card">
        <img src="../../../assets/img/partner-3.jpg" alt="">
        <h5> Get Oyeis. Cook. Make good money.</h5>
        <p>Oyeis connects people who want food with people who cook food. If you like to cook food and want to earn some extra income, you can use our app. </p>
      </div>
      <div class="partner-card">
        <img src="../../../assets/img/partner-2.jpg" alt="">
        <h5>Through Food, People Connect!</h5>
        <p>With Oyeis, you get to meet with different foodies in your city. The more people you meet, the bigger your network gets.</p>
      </div>
      <div class="partner-card">
        <img src="../../../assets/img/partner-1.jpg" alt="">
        <h5>Bring A Smile With Every Meal</h5>
        <p>When you cook and serve food to a stranger in a new city, you are bound to bring joy and smiles to their face.
          Join us today to feel the power of Oyeis.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="start_journey d-flex">
    <div class="start_journey_content">
      <h4>Start your journey with oyeis</h4>
      <p>Create your account  page and register for online ordering</p>
      <button>Start Now</button>
    </div>
    <div class="start_journey_img">
      <img src="../../../assets/img/food-grid.png" alt="">
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-partner-register *ngIf="isRegisterModal"  (isModalHide)="hideModal($event)"></app-partner-register>
<app-login *ngIf="isLoginModalVisible"  [apiEndpoint] = "routeUrl" (isModalHide)="hideModal($event)"></app-login>
