@import "src/variable";
.partner-breadcrumb{
  position: relative;
  height: 500px;
  z-index: 1;
  background: url('../../../assets/img/parnter-with-us.webp')  fixed center ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 57.17%, rgba(0, 0, 0, 0.46) 100%), rgba(0, 0, 0, 0.3);
    /*opacity: .7;*/
    z-index: -1;
    top: 0;
    left: 0;
  }
  .partner-wrapper{
    color: $white;
      h4{
      color: inherit;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin: 15px 0;
    }
    p{
      color: inherit;
      font-size: 18px;
      font-weight: 500;
      opacity: .7;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin: 15px 0;
    }
    .button-group{
      width: 40%;
      button{
        width: 48%;
        padding: 15px 0;
        color: #fff;
        font-weight: 900;
        text-transform: capitalize;
        letter-spacing: 1px;
        border: none;
        border-radius: 10px;
        margin-right:  10px;
      }
      button:nth-child(1){
        background: $red;
      }
      button:nth-child(2){
        background: transparent;
        border: 2px solid $white;
      }
    }
  }
}
.custom_align_center{
  width: 100%;
margin: 0 auto;
}
.why_partner{
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  .partner-content{
    h4{
      text-align: center;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 800;
      letter-spacing: 1px;
      color: $black;
    }
    p{
      text-align: center;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 500;
      letter-spacing: 1px;
      opacity: .6;
      width: 71%;
      margin: 10px auto;
      line-height: 30px;
    }
  }
  .partner-grid{
    padding: 50px 0;
    .partner-card{
      width: 32%;
      margin: 0 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      h5{
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 1px;
      }
      p{
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 1px;
        opacity: 0.6;
        line-height: 25px;
      }
      img{
        width: 50px;
        margin-bottom: 10px;
      }
    }
  }
}
.start_journey{
  margin-bottom: 50px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  .start_journey_content{

    width: 50%;
    h4{
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 1px;
      margin: 10px 0;
    }
    p{
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 10px 0;
    }
    button{

      padding: 15px 0;
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      letter-spacing: 1px;
      border: none;
      border-radius: 10px;
      margin-right: 10px;
      background: $red;
      width: 120px;
    }
  }
  .start_journey_img{
    width: 50%;
    img{
      width: 100%;
    }
  }
}
.partner-breadcrumb{
  height: 700px;
  .partner-wrapper {
    width: 60%;
    margin: 0;
    p{
      line-height: 30px;
      letter-spacing: 2px !important;
      font-size: 15px !important;
    }
    .button-group{
      width: 70%;
    }
  }
}
