.card_loader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    .card_wrapper {
      width: 100%;
      padding: 10px;
      background: #fff;
      border: 1px solid #e8e8e8;
      margin: 5px;
      border-radius: 0;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
      .img_sec {
          height: 110px;
          width: 30%;
      }
      .content_sec {
          display: flex;
          flex-direction: column;
          padding: 0 20px;
          width: 70%;
        div {
          height: 10px;
          width: 100%;
          margin: 4px 0;
        }
        div:nth-child(1){
            width: 40%;
        }
        div:nth-child(2){
            width: 40%;
        }
        div:nth-child(3){
            width: 70%;   
        }
        div:nth-child(4){
            width: 70%;   
        }
        div:nth-child(5){
            width: 100%;
        }
      }
    }
  }
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .animated_background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
  }
  