<div class="right-tab-content">
    <ng-container *ngFor="let item of orderDetail">
      <div class="order-listings"  *ngFor="let order of item.ORDER_PRODUCT   " >
          <div class="past-order-wrapper">
             <div class="order-top d-flex"  (click)="showOrderDetail(item, order)">
                 <div class="order-img">
                     <img alt="" src="{{order.MENU_IMG}}">
                 </div>
                 <div class="order-detail d-flex">
                     <div class="order-detail-left">
                         <div class="_3h4gz">{{order.MENU_TITLE}}</div>
                         <div class="_2haEe">{{order.CUISINE_NAME}}</div>
                         <div class="_2uT6l">ORDER #109656403623 | {{item.CREATED_TIME | date:'longDate'}}</div>
                         <div class="_1ziWV">VIEW DETAILS</div>
                     </div>
                     <div class="order-detail-right">
                         <span class="d-flex">Delivered on Sun, Jul 18, 2021, 10:16 AM<span class="feather-check"></span></span>
                     </div>
                 </div>
             </div>
             <div class="order-bottom" style="padding-bottom: 0;">
                 <div class="nRCg_" (click)="showOrderDetail(item, order)">{{order.MENU_TITLE}} x {{order.QUANTITY}}</div>
                 <div class="d-flex">
                     <div class="_2a27y">
                         <a class="_3PUy8 f4Ovn" style="margin-bottom: 0;" (click)="feedback(order, item.CHEF_ID)">Give Feedback</a>
                        <a class="_3PUy8" style="margin-bottom: 0;" (click)="showOrderDetail(item, order)">View Detail</a>
                    </div>
                     <div class="_23DHc" (click)="showOrderDetail(item, order)"> Paid Amount: <span class="_3Hghg"> {{order.MENU_PRICE | currency :'INR' }} </span></div>
                 </div>
             </div>
         </div>
    </div>
    </ng-container>
    <ng-container *ngIf="!showLoadingCard; else showLoader"></ng-container>

</div>
<div class="view_order_detail" *ngIf="orderDetailModal"> 
    <div class="order_sidebar">
            <div class="order_top">
                <h1 (click)="hideDetails()"><button class="feather-x"></button>  {{orderDetailModal?.MENU_TITLE}}</h1>
            <div class="order_wrapper">
                <div class="order_from">
                    <h4><span class="feather-map-pin"></span> {{completeOrderDetail?.CHEF_ADDRESS}}</h4>
                    <p>{{completeOrderDetail?.CHEF_ADDRESS}}&nbsp;{{completeOrderDetail?.CHEF_CITY}}&nbsp;{{completeOrderDetail?.CHEF_STATE}}&nbsp;{{completeOrderDetail?.CHEF_PINCODE}}&nbsp;</p>
                </div>
                <div class="order_to">
                    <h4><span class="feather-map-pin"></span> {{completeOrderDetail?.ADDRESS}}</h4>
                    <p>{{completeOrderDetail?.ADDRESS}}&nbsp;{{completeOrderDetail?.CITY}}&nbsp;{{completeOrderDetail?.STATE}}&nbsp;{{completeOrderDetail?.PINCODE}}&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="order_bottom">
            <ul>
                <li><span>{{orderDetailModal?.MENU_TITLE | slice:0: 30}}.. x {{orderDetailModal?.QUANTITY}}</span><span>{{orderDetailModal?.MENU_PRICE | currency: 'INR'}}</span></li>
                <li><span>Item Total</span><span>{{orderDetailModal?.MENU_PRICE | currency: 'INR'}}</span></li>
                <li><span>Delivery partner fee</span><span>{{ '0' | currency: 'INR'}}</span></li>
                <li><span>Discount Applied (TRYNEW)</span><span>{{'0' | currency: 'INR'}}</span></li>
                <li><span>Taxes</span><span>{{'0' | currency: 'INR'}}</span></li>
                <li><span>Bill</span><span>{{orderDetailModal?.MENU_PRICE | currency: 'INR'}}</span></li>
                <li><span>Total Amount</span><span>{{completeOrderDetail?.PAYABLE_AMOUNT | currency: 'INR'}}</span></li>
                <li><p>Total Amount Include
                    (
                    <ng-container *ngFor="let completeOrder of completeOrderDetail.ORDER_PRODUCT">
                        <i>{{completeOrder.MENU_TITLE}} x {{completeOrder.QUANTITY}} | Price: {{completeOrder.MENU_PRICE | currency: 'INR'}} </i>,&nbsp;
                    </ng-container>
                    
                    )</p></li>
            </ul>
        </div>
    </div>
</div>

 <!-- card Loader -->
 <ng-template #showLoader >
    <app-ht-card-loader style="width: 100%"></app-ht-card-loader>
  </ng-template>
  <!-- Feedback UI Template -->
  <div class="modal-container d-flex" *ngIf="foodFeedback">
    <div class="modal-wrapper" style="width: 40%;">
      <div class="modal-header d-flex">
        <h4>Share Your Feedback</h4>
        <div class="cancel-button d-flex">
          <button  (click)="foodFeedback = null; ratingIndex = -1" class="feather-x d-flex"></button>
        </div>
      </div>
      <div class="modal-body d-flex" [formGroup]="feedbackForm">
        <div class="emoji_sec">
            <h4>How Much You Satisfied With <span>{{foodFeedback?.MENU_TITLE | slice:0: 40}}..</span> ?</h4>
            <ul>
                <li *ngFor="let item of feedbackArray; let i = index" (click)="markRating(item, i)" [ngClass]="{'activeRating': ratingIndex === i}">
                    <img src="{{item.imgUrl}}" alt="{{item.title}}">
                    <div class="tooltip">
                        {{item.title}}
                    </div>
                </li>
            </ul>
            <h4>Food Image</h4>
            <div class="form-control" style="width: 100%;">
                <div class="img-upload">
                  <label class="d_flex"  (change)="onUploadImg(imageInput, 'REVIEW_IMG')" *ngIf="isFileUploading">
                    <input type="file" #imageInput id="imageInput" accept="image/x-png,image/gif,image/jpeg">
                  </label>
                  <ng-container *ngIf="!isFileUploading">
                    <div class="img-preview">
                      <img src="{{reviewImg}}" alt="Profile">
                      <button (click)="clearPreview()" class="feather-x"></button>
                    </div>
                  </ng-container>
                </div>
        
              </div>
            <h4>Your Review</h4>
            <textarea placeholder="tell people about your experience" formControlName="DESCRIPTION"></textarea>
            <div class="form-control  d-flex">
                <button (click)="onSubmitFeedback()" >Submit</button>
              </div>
        </div>
      </div>
    </div>
  </div>
  
   
  