@import "src/variable";

.view_order_detail {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #00000057;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  .order_sidebar {
    width: 30%;
    height: 100%;
    background: #fff;
    padding: 40px;
    .order_top {
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: $red;
        text-transform: capitalize;
        button {
          height: 30px;
          border-radius: 50%;
          border: none;
          width: 30px;
          margin-right: 10px;
        }
      }
      .order_from,
      .order_to {
        padding: 10px 0;
        h4 {
          font-size: 13px;
          letter-spacing: 1px;
          margin-top: 10px;
          line-height: 25px;
          position: relative;
          padding-left: 21px;
          text-transform: capitalize;
          span {
            position: absolute;
            left: 0;
            top: 6px;
            font-size: 15px;
            color: #f44336;
          }
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
          padding-left: 21px;
        }
      }
    }
    .order_bottom {
      border-top: 1px solid #ccc;
      padding: 20px 0 !important;
      border-bottom: 1px solid #ccc;
      ul {
        li {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
          font-weight: 300;
          letter-spacing: 1px;
          font-size: 14px;
          p {
            font-size: 11px;
            letter-spacing: 1px;
            color: $red;
            font-weight: 500;
            line-height: 17px;
            i {
              font-weight: inherit;
            }
          }
          span:nth-child(1) {
            font-weight: 500;
          }
          span:nth-child(2) {
          }
        }
      }
    }
  }
}
.order_wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    border: 1px dashed #f44336;
    height: 58px;
    left: 5px;
    top: 38px;
  }
}
.past-order-wrapper {
  margin: 10px 0;
}

.emoji_sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h4 {
    font-size: 15px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    span{
      color: $red
    }
  }
  textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    text-transform: capitalize;
  }
  button{
    width: 120px !important;
    margin-top: 15px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    li.activeRating{
      filter: grayscale(0);
      .tooltip {
        visibility: visible;
      }
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
      filter: grayscale(1);
      cursor: pointer;
      transition: all 0.4s;
      position: relative;
      &:hover {
        filter: grayscale(0);
        .tooltip {
          visibility: visible;
        }
      }
      img {
        width: 55px;
      }
      /* Tooltip container */
      .tooltip {
        color: #fff;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        font-size: 14px;
        padding: 5px 10px;
        letter-spacing: 1px;
        z-index: 111111;
        top: -37px;
        visibility: hidden;
        min-width: 95px;
        left: -16px;
        background: $red;
        &::after{
          content: '';
          background: $red;
          width: 20px;
          height: 16px;
          bottom: -10px;
          position: absolute;
          left: 39%;
          clip-path: polygon(52% 100%, 0 0, 100% 0);
        }
      }
    }
    
  }
}

.img-upload {
  width: 120px !important;
  height: 120px !important;
  label{
    height: 120px;
    width: 120px;
    text-align: center;
    &::after{
      font-size: 12px;
    }
  }
  .img-preview{
    width: 100px;
    height: 100px;
  }
  button{
    width: 30px !important;
  }
}