@import "src/variable";
form{
  width: 100%;
}
.form-control{
  .verify{
    position: absolute;
    width: 150px !important;
    right: 15px !important;
    top: 20px !important;
    font-size: 13px !important;
    font-weight: 800 !important;
  }
}
