<div class="modal-container d-flex" *ngIf="!userEmailId">
  <div class="modal-wrapper">
    <div class="modal-header d-flex">
      <h4>Register</h4>
      <div class="cancel-button d-flex">
        <button (click)="hideModal('closeModal')" class="feather-x d-flex"></button>
      </div>
    </div>
    <div class="modal-body d-flex">
      <form [formGroup]="registerForm" >
        <div class="form-control d-flex">
          <label for="first_name">First Name</label>
          <input placeholder="Enter First Name" formControlName="FIRST_NAME" type="text" id="first_name">
        </div>
        <div class="form-control d-flex">
          <label for="last_name">Last Name</label>
          <input placeholder="Enter Last Name" formControlName="LAST_NAME" type="text" id="last_name">
        </div>
        <div class="form-control d-flex">
          <label for="email">Email</label>
          <input placeholder="Enter Email"  formControlName="EMAIL" type="email" id="email">
          <div class="otp-verification" *ngIf="showOTPInput">
            </div>
        </div>
        <div class="form-control d-flex">
          <label for="mobile" >Mobile</label>
          <input placeholder="Enter Mobile No."  mask="(000) 000 00 00" formControlName="MOBILE" type="text" id="mobile">
        </div>
        <div class="form-control  d-flex">
          <button [disabled]="!registerForm.valid || isLoading" (click)="onSubmit()">
            <span class="loader" *ngIf="isLoading"></span>
              Register Now!!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-otp-validation *ngIf="this.userData" (isModalHide)="hideModal($event)" [userData]="userData"></app-otp-validation>
