<div class="dashboard-header d-flex">
    <div class="container d-flex">
        <div class="dash-logo">
            <h4 routerLink="/">Oyeis</h4>
        </div>
        <div class="dash-menu">
            <ul class="d-flex">
                <li><span class="feather-tag"></span> <b  class="mb-hidden" >&nbsp;Offers</b></li>
                <li><span class="feather-help-circle"></span> <b  class="mb-hidden" >&nbsp;Help</b></li>
                 <ng-container *ngIf="isUserLogin; else showLogin">
                    <li class="d_flex cart-menu" routerLink="/cart"><img src="assets/img/basket.png" alt="cart"><span>{{cartData?.length ? cartData?.length : 0 }}</span> 
                        <b  class="mb-hidden" >&nbsp;Cart</b>
                    </li>
                </ng-container>
                <ng-template #showLogin>
                    <li class="d_flex cart-menu" (click)="isLoginModalVisible = true"><img src="assets/img/basket.png" alt="cart">
                        <span>{{cartData?.length ? cartData?.length : 0 }}</span> 
                        <b  class="mb-hidden" >&nbsp;Cart</b>
                    </li>
                </ng-template>
                <ng-container *ngIf="isUserLogin; else showLogout">
                    <li routerLink="/dashboard/{{userID}}">
                        <div class="user-profile d-flex">
                            <div class="user-profile-img">
                                <img onerror="this.src='assets/img/avtar.svg'" style="border-radius: 50%;" src= {{loggedInUserDetail?.PROFILE_IMG}} alt="user profile">
                            </div>
                            <div class="user-name">
                                {{loggedInUserDetail?.FIRST_NAME}}
                            </div>
                        </div>
                    </li>
                    <li class="sign-up" (click)="logOutUser()">Logout</li>
                </ng-container>
                <ng-template #showLogout>
                    <li (click)="isLoginModalVisible = true">Login</li>
                    <li class="sign-up" (click)="isSignUpModalVisible = true">Sign up</li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>
<app-sign-up *ngIf="isSignUpModalVisible"  (isModalHide)="hideModal($event)"></app-sign-up>
<app-login *ngIf="isLoginModalVisible"  [apiEndpoint] = "routeUrl" (isModalHide)="hideModal($event)"></app-login>

