.payment-wrapper{
  .no-card-added{
    flex-direction: column;
    opacity: .5;
    min-height: 300px;
    img{
        width: 100px;
      margin-bottom: 20px;
    }
    h4{
      font-size: 20px;
      margin: 10px 0;
      display: block;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}
