.payment-wrapper .no-card-added {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .5;
  min-height: 300px;
}

.payment-wrapper .no-card-added img {
  width: 100px;
  margin-bottom: 20px;
}

.payment-wrapper .no-card-added h4 {
  font-size: 20px;
  margin: 10px 0;
  display: block;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/*# sourceMappingURL=payment.component.css.map */