<app-partner-header></app-partner-header>
    <div class="container mt-5">
        <div class="listings">
            <div class=" card">
                <div class="card-header d-flex two-grid-header" >
                    <div class="card-header-content">
                        <h4>My Menus</h4>
                        <p>Your Menu Basic Details</p>
                    </div>
                    <div class="card-header-button">
                        <button routerLink="/manage-menu/{{chefId}}" class="primary-button">Add Menus</button>
                    </div>
                </div>
                <div class="card-body ">
                         <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="listing row-border hover">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th nowrap>Title</th>
                                    <th nowrap>Img</th>
                                    <th nowrap>Price</th>
                                    <th nowrap>Type</th>
                                    <th nowrap>Category</th>
                                    <th nowrap>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of menuListing; let i = index">
                                    <td nowrap>{{i + 1}}</td>
                                    <td nowrap>{{item.MENUTITLE | titlecase}}</td>
                                    <td nowrap>
                                        <img src="{{item.IMG}}" alt="menu-img" class="table_img">
                                    </td>
                                    <td nowrap>{{item.MENUPRICE | currency: 'INR'}}</td>
                                    <td nowrap>
                                        <p class="menu_type"> <span [ngClass]="{'non-veg': item.MENUTYPENAME === 'Non-Veg', 'veg': item.MENUTYPENAME === 'Veg'}">{{item.MENUTYPENAME}}</span></p>
                                    </td>
                                    <td nowrap>{{item.CUISINENAME}}</td>
                                    <td nowrap>
                                        <button class="link-edit"><span class="feather-edit-3"></span></button>
                                    </td>
                                 </tr>
                            </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
