<app-partner-header></app-partner-header>
<div class="chef-dashboard dashboard-counting-grid">
    <div class="container d-flex">
        <div class="chef-dashboard-grid" routerLink="/menu/{{userID}}">
            <img src="assets/img/edamame.png" alt="">
           <div>
               <h3>Manage Menu</h3>
           </div>
        </div>
        <div class="chef-dashboard-grid" routerLink="/new-order/{{userID}}">
            <img src="assets/img/shopping-basket.png" alt="">
           <div>
               <h3>New Order</h3>
               <p>4</p>
           </div>
        </div>
        <div class="chef-dashboard-grid" routerLink="/pending-order/{{userID}}" >
            <img src="assets/img/flash-sale.png" alt="">
           <div>
               <h3>Pending Order</h3>
               <p>2</p>
           </div>
        </div>
        <div class="chef-dashboard-grid" routerLink="/complete-order/{{userID}}" >
            <img src="assets/img/food-delivery.png" alt="">
            <div>
                <h3>Completed Order</h3>
                <p>20</p>
            </div>
        </div>
        <div class="chef-dashboard-grid" routerLink="/cancel-order/{{userID}}">
            <img src="assets/img/discount.png" alt="">
            <div>
                <h3>Canceled Order</h3>
                <p>2</p>
            </div>
        </div>
        <div class="chef-dashboard-grid" routerLink="/offer/{{userID}}">
            <img src="assets/img/offer.png" alt="">
            <div>
                <h3>Offer</h3>
                <p>2</p>
            </div>
        </div>
    </div>
</div>
