@import "src/variable";
.dashboard-counting-grid{
  padding-top: 100px;
  .container{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .chef-dashboard-grid{
      width: 31%;
      background: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin: 10px;
      cursor: pointer;
      flex-wrap: wrap;

      img{
        width: 70px;
       background: $white;
        padding: 4px;
      }
     div{
       display: flex;
       justify-content: center;
       align-items: center;
       h3{
         font-size: 18px;
         letter-spacing: 1px;
         text-transform: capitalize;
         color: #000;
         opacity: .6;
       }
       p{
         width: 30px;
         height: 30px;
         margin-left: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
          border-radius: 4px;
         color: #fff;
         font-weight: 900;
       }
     }
    }
    .chef-dashboard-grid:nth-child(1){
      border-left: 8px solid #5352ed;
    }
    .chef-dashboard-grid:nth-child(2){
      border-left: 8px solid $orange;
      p{
        background: $orange;
      }
    }
    .chef-dashboard-grid:nth-child(3){
      border-left: 8px solid $red;
      p{
        background: $red;
      }
    }
    .chef-dashboard-grid:nth-child(4){
      border-left: 8px solid $green;
      p{
        background: $green;
      }
    }
    .chef-dashboard-grid:nth-child(5){
      border-left: 8px solid $marron;
      p{
        background: $marron;
      }
    }
    .chef-dashboard-grid:nth-child(6){
      border-left: 8px solid #20bf6b;
      p{
        background: #20bf6b;
      }
    }
  }
}
