/* You can add global styles to this file, and also import other style files */
@import "variable";
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
input, button, textarea{
  letter-spacing: 1px;
}
.overflowHidden{
  overflow: hidden;
}
.loader {
  border: 4px solid $white;
  border-radius: 50%;
  border-top: 4px solid $red;
  width: 19px;
  height: 19px;
  animation: spin 2s linear infinite;
  display: inline-block;
  position: relative;
  top: 3px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus{
  outline: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(45deg, #fef3f3, transparent);
}
*{
  margin: 0;
  padding: 0;
}
button:focus, input:focus{
  outline: none !important;
}
a, button{
  cursor: pointer;
}

.sign-up{
  background: $black !important;
  color: $white !important;
  padding: 10px 20px;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .col-md-9{
    width: 70%;
    margin-right: 15px;
  }
  .col-md-3{
    width: 28%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
button:disabled{
  opacity: .6;
  cursor: not-allowed;
}
/*modal css*/
.modal-container{
  background: #282c3f94;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  .modal-wrapper{
    background: $white;
    width: 30%;
    border-radius: 10px;
    min-height: 340px;
    .modal-header{
      padding: 10px 20px;
      border-bottom: 1px solid $gray;
      h4{
        width: 90%;
        font-size: $medium-font;
        color: $black;
        letter-spacing: 1px;
      }
      .cancel-button{
        width: 10%;
        button{
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: $secondary-gray-color;
        }
      }

    }
    .modal-body{
      flex-direction: column;
      padding: 20px 25px;
      overflow: hidden;

      .input-para{
        p{
          font-size: $medium-font;
          color: $black;
          text-align: center;
          font-weight: bold;
          margin: 5px 0;
          a{
            color: $red;
          }
        }
      }
    }
  }
}
.checkbox-control{
  a{
    cursor: pointer;
    color: $red;
  }
  /*checkbox working*/
  /* The container */
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: transparent;
      border: 1px solid $gray;
    }
  }


  /* Create a custom radio button */


  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    border: 1px solid $red;
  }

  /* When the radio button is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    border: 1px solid $red;
    &::after{
      content: "";
      left: 6px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid $red;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: absolute;
    }
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkbox-container:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-block{
  display: block;
}
.radio_custom{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 20px 0;
  p{
    font-size: 11px;
    letter-spacing: 1px;
    opacity: .6;
    margin: 5px 0;
  }
}
.radio_custom [type="radio"]:checked,
.radio_custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio_custom [type="radio"]:checked + label,
.radio_custom [type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  margin-left: -30px;
  font-weight: 800;
  letter-spacing: 1px;
}
.radio_custom [type="radio"]:checked + label:before,
.radio_custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.radio_custom [type="radio"]:checked + label:after,
.radio_custom [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #0027ff;
  position: absolute;
  top: 5px;
  left: 6px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.radio_custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio_custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.togglePassword{
  position: absolute;
  right: 14px;
  bottom: 5px;
  display: flex;
  width: 40px;
  height: 39px;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  cursor: pointer;
   border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: $secondary-gray-color;
   color: $black;
}
.required{
  position: relative;
  &::after{
    content: '*';
    color: $red;
    font-size: 20px;
    font-weight: bold;
  }
}
.d_flex{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
/*loader css*/
#loader-wrapper{
  position: fixed;
  z-index: 9;
  background: $secondary-gray-color;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  &::after{
     content: "Loading..";
    position: absolute;
    color: $colorRight;
    margin-top: 16%;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    .box {
      width: var(--size);
      height: var(--size);
      top: 0;
      left: 0;
      position: absolute;
      transform-style: preserve-3d;
      &:nth-child(1) {
        transform: translate(100%, 0);
        animation: box1 var(--duration) linear infinite;
      }
      &:nth-child(2) {
        transform: translate(0, 100%);
        animation: box2 var(--duration) linear infinite;
      }
      &:nth-child(3) {
        transform: translate(100%, 100%);
        animation: box3 var(--duration) linear infinite;
      }
      &:nth-child(4) {
        transform: translate(200%, 0);
        animation: box4 var(--duration) linear infinite;
      }
      & > div {
        --background: #{$color};
        --top: auto;
        --right: auto;
        --bottom: auto;
        --left: auto;
        --translateZ: calc(var(--size) / 2);
        --rotateY: 0deg;
        --rotateX: 0deg;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--background);
        top: var(--top);
        right: var(--right);
        bottom: var(--bottom);
        left: var(--left);
        transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
        &:nth-child(1) {
          --top: 0;
          --left: 0;
        }
        &:nth-child(2) {
          --background: #{$colorRight};
          --right: 0;
          --rotateY: 90deg;
        }
        &:nth-child(3) {
          --background: #{$colorLeft};
          --rotateX: -90deg;
        }
        &:nth-child(4) {
          --background: #{$shadow};
          --top: 0;
          --left: 0;
          --translateZ: calc(var(--size) * 3 * -1);
        }
      }
    }
  }

}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0%{
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0%{
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.flex_column{
  flex-direction: column;
}

form{
  width: 100%;
}
.selected-item{
  border: 1px solid $red !important;
  background: $red !important;
  padding: 0 5px;
  color: $white;
  border-radius: 2px;
  float: left;
  display: flex;
  max-width: 200px !important;
  margin: 3px;
  font-size: 11px !important;
}
.dropdown-btn{
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  height: 39px;
  border: 1px solid #ccc !IMPORTANT;
  border-radius: 2px !important;
  overflow: hidden;
}
.card{
  background: #fff;
  margin: 20px 0;
  border-radius: 10px;
  .card-header{
    padding: 10px 10px 0 10px;
    h4{
      font-weight: 700;
      font-size: 20px;
      margin: 5px 0;
      color: $black;
      letter-spacing: 1px;
    }
    p{
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 500;
      opacity: 0.6;
    }
  }
  .card-body{
  padding: 10px 10px 0 10px;
    flex-wrap: wrap;
    height: auto;
    overflow: auto;
    .form-control{
      width: 48%;
      margin-right: 15px;
      input{
        width: 100%;
      }
      select{
        width: 100%;
      }
    }
    .full_width{
      width: 100% !important;
      textarea{
        width: 100%;
      }
    }
    .dynamic_form{
      width: 100%;
      flex-direction: column;
      div{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .form-control{
          width: 30%;
          label{
            width: 100%;
            text-align: left;
          }
        }
      }
      .button-group{
        flex-direction: row !important;
        width: 15% !important;
        justify-content: center;
        align-items: center;
        button{
          width: 30px;
          height: 30px;
           border-radius: 50%;
          margin-top: 15px;
        }
        button:nth-child(1){
          margin-right: 10px;
        }
        button:nth-child(2){
          background: transparent;
          border: 2px solid $red;;
          color: $red;
        }
      }
    }
  }
}
.menu_wrapper{
  padding-top: 70px;
  .container{
    justify-content: flex-start;
    align-items: flex-start;
    .menu-form-body{
    }
  }
}
.ng-select .ng-select-container .ng-value-container .ng-input>input{
  height: auto;
}
.ng-dropdown-panel .ng-dropdown-panel-items, .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 14px;
  letter-spacing: 1px;
}
.form-control{
  flex-direction: column !important;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 5px 0;
  position: relative;
  label{
    font-size: $small-font;
    font-weight: 600;
    letter-spacing: 1px;
  }
  input{
    width: 97%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  select{
    width: 97%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    letter-spacing: 1px;
    background: transparent;
  }
  textarea{
    width: 97%;
    height: 140px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  button{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    background: $red;
    color: $white;
  }
}
.primary-button{
  background: $red;
  color: $white;
  padding: 15px 50px;
 font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
 }
.mt-2{
  margin-top: 2rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.submit_button{
  text-align: center;
  margin: 20px 0;
}
.img-upload{
  width: 100%;
  margin-bottom: 10px;
  label{
    input{
      display: none;
    }
    width: 100%;
    height: 260px;
    background: $secondary-gray-color;
    border: 2px dashed $gray;
    &::after{
      content: 'Upload Image';
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: capitalize;
      opacity: .5;
    }
  }
  .img-preview{
    position: relative;
    height: 260px;
    overflow: hidden;
    border: 2px dashed #ccc;
    img{
      width: 100%;
      height: 100%;
    }
    button{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 15px;
      background: $red;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9;
      border:none
    }
  }
}
.ng-select .ng-select-container .ng-value-container {
  font-size: 14px;
  letter-spacing: 1px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 40px;
  margin: 5px 0;
  border-radius: 1px;
}
.listings{
  padding-top: 50px;
}
table.dataTable{
  border-collapse: collapse !important;
  margin-top: 20px !important;
}
.listing {
  width: 100%;
  td, th{
    border-bottom:  1px solid #ddd;
    padding: 10px;
    color: #3a3840;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: $secondary-gray-color;}
  th {
    padding: 15px 10px;
    text-align: left;
    letter-spacing: 1px;
    color: #9395a6;
    font-size: 13px;
    font-weight: 900 !important;
    border: none;
    position: relative;
    background: #f3f4fb !important;
  }
}
.table_img{
  width: 60px;
  border: 2px solid #ccc;
  height: 60px;
  border-radius: 5px;
}
.link-edit{
  width: 25px;
  height: 25px;
  background: $black;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.link-view{
  width: 25px;
  height: 25px;
  background: $red;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.two-grid-header{
  justify-content: space-between;
  margin-bottom: 10px;
}
p.menu_type{
  font-size: $small-font;
  font-weight: 600;
  color: $secondary-black-color;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 22px;
  width: 100%;
  text-align: center;
  span.veg{
    color: $green;
    font-weight: 800;
    position: relative;
    &::after{
      content: "";
      width: 11px;
      height: 11px;
      background: $green;
      position: absolute;
      border-radius: 50%;
      left: -20px;
      top: 4px;
    }
  }
  span.non-veg{
    color: $red;
    font-weight: 800;
    position: relative;
    &::after{
      content: "";
      width: 11px;
      height: 11px;
      background: $red;
      position: absolute;
      border-radius: 50%;
      left: -20px;
      top: 4px;
    }
  }
}
.food_card{
  position: relative;
  .new-tag{
    position: absolute;
    left: -8px;
    top: 0;
    background-color: $red;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 50%;
    text-transform: uppercase;
   z-index: 22;
    border-color: rgb(209, 42, 59) transparent;
    &::before{
       position: absolute;
      bottom: -9px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: inherit;
      left: 0;
      border-width: 9px 0 0 9px;
    }
  }
}
.dashboard-header{
  background: $white;
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  position: sticky;
  top: 0;
  padding: 10px 0;
  min-height: 70px;
  z-index: 22;
  .container{
    justify-content: space-between;
    .dash-logo{
      h4{
        color: $red;
        text-transform: capitalize;
        font-weight: 900;
        font-size: 30px;
        cursor: pointer;
      }
    }
    .dash-menu{
      ul{
        li{
          display: block;
          letter-spacing: 1px;
          margin-right: 60px;
          color: #3d4152;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          transition: all .4s;
          &:hover{
            color: $red;
            font-weight: 700;
          }
          span{
            font-weight: 800;
            letter-spacing: 1px;
            opacity: .6;
          }
        }
        li.user-profile{
          font-weight: bold;
          color: $red;
        }
      }
    }
  }
}
.cart-menu{
  position: relative;
  img{
    width: 20px;
    margin-right: 10px;
  }
  span{
    position: absolute;
    background: $red;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    font-weight: inherit;
    top: -6px;
    left: 5px;
    opacity: 1 !important;
  }
}
.user-profile{
  border: 1px solid $gray;
  padding: 4px 10px;
  border-radius: 23px;
  .user-profile-img{
    width: 25px;
    height: 25px;
    background: $colorLeft;
    border-radius: 50%;
    margin-right: 7px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .user-name{
    font-size: 15px;
    letter-spacing: 1px;
  }
}
.food_card{
  &:hover{
    .food_card_img{
      ul{
        right: 0;
      }
    }
  }
  .food_card_img{

    ul{
      position: absolute;
      top: 0;
      right: -100%;
      width: 20px;
      background: #f8f8f8d6;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: right .4s;
      margin: 0;
      li{
        display: flex;
        cursor: pointer;
        margin: 10px 0;
        font-weight: 900;
        font-size: 16px;
        background: $red;
        padding: 5px;
        border-radius: 5px;
        color: $white;
        justify-content: center;
        align-items: center;
      }
    }
  }

}

.common_wrapper{
  .wrapper_right{
    width: 55%;  
  }
  .wrapper_left{
    width: 45%;  
  }
  .wrapper_left, .wrapper_right{
    padding: 20px;
    img{
      width: 100%;
    }
    h2{
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 3.5rem;
      span{
        color: #f44336;
      }
    }
    p{
      font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    opacity: 0.6;
    }
    h4{
      display: inline-block;
      background: #f443364a;
      padding: 15px;
      border-radius: 40px;
      color: #f44336;
      font-weight: 700;
      letter-spacing: 1px;
    }
    button{
      display: block;
      width: 170px;
      height: 49px;
      margin: 20px 0;
      border-radius: 40px;
      border: 1px solid #f44336;
      background: #f44336;
      color: #fff;
      letter-spacing: 1px;
      font-size: 18px;
    }
  }
}
.home_heading{
  text-align: center;
    padding: 30px 0;
  h4{
    font-size: 20px;
    letter-spacing: 1px;
    color: #f44336;
  }
  h3{
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 4.4rem;
  }
}
.serve_sec{
   justify-content: space-between;
   .service_wrapper{
    text-align: center;
    padding: 20px;
    width: 33%;
    img{
      width: 35%;
    }
    h5{
      font-size: 20px;
      margin: 10px 0;
      font-weight: 700;
      letter-spacing: 1px;
    }
    p{
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}
.dataTables_filter{
  label{
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  input{
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 4px;
  }
}
.dataTables_length{
  label{
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  select{
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 4px;
    background: #fff;
  } 
}
.dataTables_info{
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.dataTables_paginate{
  a{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 10px;
    font-weight: 600;
  }
  a.disabled{
    opacity: .4;
  }
  span{
    .current{
      background: #282c3f !important;
      color: #fff !important;
    }
    .paginate_button {
      background: #f8f8f8;
      display: inline-block;
      width: 20px;
      height: 20px ;
      text-align: center;
      border-radius: 3px;
      color: #000;
      font-weight: 500;
      padding-top: 2px;
    }
  }

}
.listings {
  padding-top: 100px;
}

.listings .card {
  padding: 15px 0 !important;
}
.orders_listings{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    img{
      width: 30px;
      height: 30px;
    }
    p{
  
    }
  }

}
.past-order-wrapper{
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  .order-top{
    justify-content: flex-start;
    align-items: flex-start;
    .order-img{
      width: 13%;
      margin-right: 10px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .order-detail{
      width: 85%;
      .order-detail-left{
        width: 65%;
        div:nth-child(1){
          font-size: 15px;
          font-weight: 700;
          color: #3d4152;
          margin-bottom: 10px;
        }
        div:nth-child(2), div:nth-child(3){
          margin: 6px 0;
          color: #7e808c;
          letter-spacing: 1px;
          font-size: 11px;
        }
        div:nth-child(4){
          color: $red;
          margin-top: 10px;
          font-size: 14px;
          font-weight: 900;
          cursor: pointer;
          letter-spacing: 1px;
         }
      }
    }
    .order-detail-right{
      width: 35%;
      span{
        font-size: 12px;
        float: right;
        top: 0;
        right: 0;
        padding-left: 18px;
        color: #686b78;
        line-height: 22px;
        letter-spacing: 1px;
        span{
          background: $green;
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          color: $black;
          border-radius: 50%;
          position: relative;
          margin-right: 10px;
          &::before{
            left: 3px;
            position: absolute;
          }
        }
      }
    }
  }
  .order-bottom{
    margin-top: 10px;
    border-top:2px dashed $gray;
    padding: 10px 0;
    div:nth-child(1){
      font-size: 15px;
      padding-right: 240px;
      color: #282c3f;
      line-height: 20px;
      letter-spacing: 1px;
      font-weight: 300;
    }
    div:nth-child(2){
       align-items: flex-start;
      justify-content: space-between !important;

      div:nth-child(1){
          a{
             margin: 10px 10px 10px 0px;
            height: 35px;
            min-width: 120px;
            text-align: center;
            display: inline-block;
            align-items: center;
            padding: 5px 15px;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 14px;
            border: 2px solid $red;
            overflow: hidden;
          }
          a:nth-child(1){
              background: $red;
            color: $white;
          }
          a:nth-child(2){
              color: $red;
            border: 2px solid $red;
          }
        }
      div:nth-child(2){
        float: right;
         right: 0;
        color: #535665;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }
}
.pending_order{
  background: #f44336 !important;
  color: #fff !important;
}
.action_on_order{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    margin: 0 10px;
    border: 2px solid;
    padding: 7px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: $red;
  }
  button:nth-child(1){
    background: $red;
    color: $white;
  }
  button:nth-child(2){
    background: transparent;
    color: $red;
  }
}
.global-link{
  color: #673ab7;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}
.bg_orange{
  background: $orange !important;
  tr{
    th{
      background: $orange !important;
      color: $white !important;
    }
    td{
      .global-link{
        color: $orange !important;
      }
    }
  }
}

.bg_red{
  background: $red !important;
  tr{
    th{
      background: $red !important;
      color: $white !important;
    }
  }
}

.bg_marron{
  background: $marron !important;
  tr{
    th{
      background: $marron !important;
      color: $white !important;
    }
  }
}
.swal2-title{
  display: block !important;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  line-height: 31px !important;
}
.swal2-actions{
  .swal2-confirm{
    background-color: $red;
  }
  .swal2-deny {
    background-color: transparent !important;
    color: $red !important;
  
  }
  .swal2-styled{
    margin: 0.3125em;
    box-shadow: none;
    font-weight: 500;
    padding: 12px 40px !important;
    border: 2px solid $red !important;
    transition: all 0.4s;
    &:hover{
     background: transparent !important;
     transform: translatey(-10px); 
     color: $red;
     font-weight: bold;
    }
  }
}
ng-multiselect-dropdown{
  width: 100% !important;
  margin-top: 5px;
}
.qty-manage{
  border: 1px solid $red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4px;
  width: 70px;
  button{
    background: transparent;
    border: none;
    font-size: 13px;
    color: $red;
  }
  span{
    font-size: 13px;
  }
}
.ng-invalid{
  input.ng-invalid , select.ng-invalid{
    border: 2px solid #e91e63 !important;
  }
}
@media only screen and (max-width: 768px) {

  .common_wrapper, .serve_sec{
    flex-direction: column !important;
    .service_wrapper{
      width: 100% !important;
    }
    .wrapper_left, .wrapper_right{
      width: 100% !important;
      padding: 10px !important;
      .feedback{
        h4{
          font-size: 13px !important;
        }
        h2{
          font-size: 25px !important;
          line-height: 35px !important;
        }
      }
      h4{
        font-size: 13px;
      }
      h2{
        font-size: 25px !important;
        line-height: 35px !important;
      }
    }
  }
  .home_heading{
    h3{
      font-size: 25px;
      line-height: 35px;
    }
  }
  .tab-container, .food_listing_header, .card_loader{
    flex-direction: column !important;
    margin-bottom: 0 !important;
    .food_card, .header_left ,.header_right, .card_wrapper{
      width: 100% !important;
      margin: 5px 0 !important;
    }
  }
  .header_left{
    font-size: 25px;
    margin: 0 !important;
  }
   .header_right{
    padding: 5px 0;
    ul{
      justify-content: flex-start !important;
    }
  }
  .footer_wrapper{
    padding: 0 !important;
    .d-flex{
      flex-direction: column !important;
      .footer-gird{
        width: 100% !important;
        li{
          margin: 6px 0 !important;
        }
        
      }
    }
  }
  .food_listing_wrapper{
    flex-direction: column !important;
    padding-top: 50px !important;
    .food_container{
      flex-direction: column;
      .listing_left, .cart_sec{
        width: 100% !important;
      }
    }
  }
  .tab-links{
    padding: 0 !important;
    .d-flex{
      ul{
        flex-wrap: wrap !important;
        li{
          width: 43% !important;
          font-size: 13px !important;
          margin: 5px 0 !important;
          span{
            width: 25px !important;
            height: 25px !important;
            img{
              width: 80% !important;
            }
          }
        }
      }
    }
  }
  .food_card_img{
    height: 170px !important;
    width: 40% !important;
  }
  .food_card_content{
    height: auto !important;
    margin: 0 5px !important;
    padding: 5px 0px !important;
    width: 60% !important;
      h4{
        flex-direction: column !important;
        font-size: 18px !important;
        margin-bottom: 0px;
        .button_grid{
          margin: 5px 0 !important;
          button{
            margin-right:10px !important;
            padding: 5px 12px !important;
            align-items: center !important;
            span{
              margin: 0 !important;
            }
          }
        }
      }
      .rating_star{
        margin: 3px 0 !important;
        .stars{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 21px;
          width: 18px;
          font-size: 14px;
        }
        .start_detail{
          margin-left: 4px;
          letter-spacing: 1px;
          font-size: 14px;
        }
      }
  }
  .cart_sec{
    position: relative !important;
    top: 0 !important;
    padding: 10px 0 !important;
    height: auto !important;
  }
  .chef_profile{
    top: 95px !important;
    .container{
      .chef_wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .chef_img, .chef_content{
          width: 100% !important;
          padding: 10px 0 !important;
          .search_dishes{
            width: 100% !important;
          }
        }
      }
    }
  }
  .fixed_profile{
    .chef_img{
      display: none !important;
    }
  }
  .cart-wrapper{
    padding-top: 60px !important;
    .container{
      flex-direction: column !important;
      .cart-item-detail, .cart-billing-summary{
        width: 100% !important;
        .cart-item-grid{
          flex-direction: column !important;
          .cart-item-name, .cart-item-quantity{
            width: 100% !important;
            ul{
              width: 100% !important;
            }
          }
        }
      }
      .cart-item-name{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .address-grid{
        padding: 0 10px !important;
      }
    }
  }
  .app-hero{
    padding: 10px 0;
    .hero-search{
      padding: 10px ​5px !important;
      .container{
        padding: 0;
        margin: 0;
        width: 100%;
        .hero-header{
          flex-direction: column;
          .logo, .login-links{
            width: 100% !important;
            justify-content: center !important;
          }
          .logo{
            margin-bottom: 5px;
          }
          ul{
            align-items: center !important;
            justify-content: center !important;
            li{
              margin: 0 5px !important;
            }
          }
        }
      }
     
    }
   
  }
  .pd_top{
    padding-top: 90px;
  }
  .mb-hidden{
    display: none !important;
  }
  .sign-up {
    padding: 8px 16px !important;
  }
  .modal-container{
    .modal-wrapper{
      width: 90% !important;
    }
  }
  .dashboard-user-details-listings{
    padding: 10px !important;
    flex-direction: column !important;
    .dashboard-left-sidebar, .dashboard-right-sidebar{
      width: 100% !important;
    }
    .dashboard-left-sidebar{
      padding: 0 !important;
      height: auto !important;
      display: none !important;
      ul{
        li{
          padding: 10px !important;
          margin: 5px !important;
        }
      }
    }
    .dashboard-right-sidebar{
      padding: 0 !important;
      .food_card_img{
        height: 170px !important;
      }
      .past-order-wrapper{
        .order-top{
          flex-direction: column !important;
          .order-img{
            width: 100% !important;
          }
          .order-detail{
            width: 100% !important;
            flex-direction: column;          
            .order-detail-left, .order-detail-right{
              width: 100% !important;
              .d-flex{
                width: 100% !important;
                padding: 0 !important;
              }
            }  
          }
        }
        .order-bottom{
          div:nth-child(1){
            width: 100% !important;
            padding: 0 !important;
          }
          div:nth-child(2){
            flex-direction: column !important;
          }

        }
      }
      .profile{
        .form-control{
          width: 100% !important;
        }
      }
      .address-card{
        .address-wrapper{
          width: 100% !important;
          min-height: auto !important;
        }
      }
    }
  }
  .dashboard-header{
    .container{
      padding: 0 !important;
      flex-direction: column !important;
      .dash-logo{
        margin-bottom: 10px !important;
      }
      .dash-menu{
        ul{
          li{
            margin: 0 10px;;
          }
        }
      }
    }
  }
  #searchModal{
    padding: 10px !important;
    .search_wrapper{
      width: 100% !important;
    }
    .search_result{
      width: 100% !important;
    }
  }
  .view_order_detail{
    width: 100% !important;
    .order_sidebar{
      width: 90% !important;
      padding: 10px !important;
    }
  }
  #social_share{
    li{
      margin-right: 5px !important;
    }
  }
  .partner-breadcrumb{
    .container{
      .partner-wrapper{
        width: 100% !important;
        .button-group{
          width: 100% !important;
        }
      }
    }
  }
  .partner-content{
    h4{
      font-size: 20px !important;
      text-align: left !important;
    }
  }
  .partner-grid, .start_journey {
    padding: 10px !important;
    flex-direction: column !important;
    .partner-card, .start_journey_content, .start_journey_img{
      width: 100% !important;
    }
  }
  .start_journey{
    .start_journey_content{
      margin-bottom: 20px;
      h4{
        font-size: 20px !important;
        margin: 2px 0;
      }
      p{
        margin: 2px 0;
        font-size: 15px !important;
        font-weight: 600 !important;
      }
    }
   
  }
  .partner-heading{
    height: auto !important;
    padding: 10px 0 !important;
    .container{
      padding: 0 !important;
      margin: 0!important;
      width: 100% !important;
      .custom_align_center{
        flex-direction: column;
        .logo, .partner-links{
          margin: 2px 0;
          width: 100% !important;
          text-align: center !important;
         
        }
      }

    }
  }
  .partner-links{
     .d-flex{
      justify-content: center !important;

    }
  }
}