$black:#282c3f;
$white: #fff;
$medium-font: 15px;
$small-font: 12px;
$red: #ed5a6b;
$gray: #ccc;
$secondary-gray-color: #f8f8f8;
$secondary-black-color: #686b78;
$yellow: rgb(252, 238, 192);
$card-shadow:0 0 8px 0 rgb(0 0 0 / 16%);
$green: #0be881;
$orange: #ffa502;
$marron: #ff6348;
/*loader css*/

$color: #5C8DF6;
$colorRight: darken(#5C8DF6, 15%);
$colorLeft: darken(#5C8DF6, 5%);
$shadow: #DBE3F4;
