<div class="card_loader">
    <div class="card_wrapper" *ngFor="let item of [].constructor(8)">
        <div class="img_sec animated_background">

        </div>
        <div class="content_sec">
            <div class="animated_background"></div>
            <div class="animated_background"></div>
            </div>
    </div>
</div>