<app-partner-header></app-partner-header>
<div class="container mt-5">
    <div class="listings">
        <div class=" card">
            <div class="card-header d-flex two-grid-header">
                <div class="card-header-content">
                    <h4>Offers</h4>
                    <button></button>
                </div>
                <div class="card-header-button">
                    <button class="primary-button" (click)="isOrderModalOpen = true">Add Offers</button>
                </div>
            </div>
            <div class="card-body ">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="listing row-border hover">
                    <thead class="bg_marron">
                        <tr>
                            <th>S No.</th>
                            <th nowrap>Title</th>
                            <th nowrap>Min. Price</th>
                            <th nowrap>Discount</th>
                            <th nowrap>Status</th>
                             <th nowrap>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of chefOffersData; let i = index">
                            <td nowrap>{{i+ 1}}</td>
                            <td nowrap>{{item.TITLE | titlecase}}</td>
        
                            <td nowrap>{{item.MIN_PRICE | currency: 'INR'}}</td>
                            <td nowrap>{{item.DISCOUNT}}%</td>
                            <td nowrap>
                                <span>Active</span>
                            </td>
                             <td nowrap>
                               <button class="link-view bg_marron"><span class="feather-trash"></span></button>
                            </td>
                        </tr>
                       
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

<!-- Order Modal -->
<div class="modal-container d-flex" *ngIf="isOrderModalOpen">
    <div class="modal-wrapper" style="width: 45%">
        <div class="modal-header d-flex">
            <h4>Add Offers</h4>
            
            <div class="cancel-button d-flex">
                <button class="feather-x" (click)="isOrderModalOpen = false;offerFormInit()"></button>
            </div>
            
        </div>
        <div class="modal-body">
             <div class="modal_input" [formGroup]="offerForm">
                 <div class="form-control">
                     <label for="title">Title</label>
                     <input type="text" placeholder="Ex: Oyeis50" formControlName="TITLE">
                 </div>
                 <div class="form-control">
                    <label for="price">Min. Price</label>
                    <input type="number" placeholder="Enter minimum price" formControlName="MIN_PRICE">
                </div>
                <div class="form-control">
                    <label for="discount">Discount (in %)</label>
                    <input type="number" placeholder="Enter discount" formControlName="DISCOUNT">
                </div>
                <div class="form-control">
                    <label for="status">Status</label>
                   <select  id="status" formControlName="STATUS">
                       <option value="1">Active</option>
                       <option value="0">In-active</option>
                   </select>
                </div>
                <div class="form-control" style="width: 100%;">
                    <button class="primary-button" (click)="onSubmit()" [disabled]="offerForm.invalid">Submit</button>
                </div>
             </div>
        </div>
    </div>
</div>