.listings{
    padding-top: 100px;
    .card{
      padding: 15px 0 !important;
    }
    tr:nth-child(even) {
      background-color: #fa624740 !important;
    }
  }
  
  .table_action{
    select{
      width: 100%;
      height: 32px;
      border: 1px solid #ccc;
      background: #fff;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 13px;
    }
  }
  
 
  .modal-container {
    .modal-wrapper{
      min-height: auto !important;
      .modal_input{
        display: flex;
        flex-wrap: wrap;
          .form-control{
            width: 50%;
            button{
                width: auto;
                height: auto;
                font-size: 14px;
                letter-spacing: 1px;
                padding: 10px 20px;
            }
          }
      }
    }
  }